/*
 * Component: Itemscroller
**********************************************************/


// Variables
//**********************************************************


// JS-Config
//**********************************************************
$itemscroller-js-cfg: (
    name: itemscroller,
    //queries: "(max-width: 480px) 100%, (max-width: 1024px) 50%, 600px",
);


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/utils/rb_hide_text";
@import "../../sass/helpers/utils/rb_arrow_icon";
@import "../../sass/helpers/utils/rb_px_to_units";


//----------------------------------------------------------


.rb-itemscroller {
    //@include rb-js-export($itemscroller-js-cfg);
    display: block;
    position: relative;
    user-select: none;
    transition: 300ms opacity;
}

.itemscroller-viewport {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.itemscroller-content {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    position: relative;
    left: 0;
    width: auto;
    height: 100%;
    backface-visibility: hidden;

    // FOUC prevention in case of centerMode:
    // [1] tranlateX = 50% - (widthOfCell / 2)
    [data-center-mode="true"] & {
        transform: translate3d(25%, 0, 0); //[1]
    }
}

.itemscroller-cell {
    flex-shrink: 0;
}

//Pagination
.itemscroller-pagination {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.itemscroller-pagination-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    cursor: pointer;
    touch-action: manipulation;
    border-radius: 50%;
    background: #fff;
    transition: background 400ms ease-in;

    &.is-selected {
        cursor: not-allowed;
        background: #666;
    }
}

//Buttons
.itemscroller-btn-prev,
.itemscroller-btn-next {
    @include rb-hide-text;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    cursor: pointer;
    touch-action: manipulation;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #000;
    transition: background 400ms ease-in;

    &:hover,
    &:focus {
        background: #666;
    }

    &.is-disabled {
        cursor: not-allowed;
        background: rgba(0, 0, 0, 0.5);
    }

    &::after {
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.itemscroller-btn-prev {
    left: 30px;

    &::after {
        @include rb-arrow-icon(15px, 15px, 3px, #fff, left);
        left: 15px;
    }
}

.itemscroller-btn-next {
    right: 30px;

    &:after {
        @include rb-arrow-icon(15px, 15px, 3px, #fff, right);
        right: 15px;
    }
}


//@media (min-width: 800px) {
//    @include rb-js-export((
//        switchedOff: true,
//    ));
//
//    @at-root .itemscroller- {
//        &content {
//            flex-wrap: wrap;
//        }
//    }
//}
