---
title: Itemscroller Page
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters">
            <div class="use-size-100">
                <h2>Normal mode</h2>
                {{#mergeJSON rb_itemscroller 'selectbox: true'}}
                    {{> rb_itemscroller }}
                {{/mergeJSON}}
            </div>
        </div>

    </div>
</section>
<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters">
            <div class="use-size-100">
                <h2>center mode</h2>
                {{#mergeJSON rb_itemscroller 'pagination: true, attrs: {"data-center-mode":true}'}}
                    {{> rb_itemscroller }}
                {{/mergeJSON}}
            </div>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters">
            <div class="use-size-100">
                <h2>carousel normal mode</h2>
                {{#mergeJSON rb_itemscroller 'itemsIndex: true, attrs: {"data-carousel":true}'}}
                    {{> rb_itemscroller }}
                {{/mergeJSON}}
            </div>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="page-section-inner">


        <div class="use-column-group use-gutters">
            <div class="use-size-50 use-size-100-m use-size-100-s">
                <h2>carousel center mode</h2>
                {{#mergeJSON rb_itemscroller 'attrs: {"data-carousel":true, "data-center-mode":true, "id":"itemscroller-pagination"}'}}
                    {{> rb_itemscroller }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-50 use-size-100-m use-size-100-s">
                <h2>pagination of previous scroller</h2>
                {{#mergeJSON rb_itemscroller 'attrs: {"data-pagination-for":"itemscroller-pagination"}'}}
                    {{> rb_itemscroller }}
                {{/mergeJSON}}
            </div>
        </div>

    </div>
</section>



