html {
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
	height: 100%;
	width: 100%; }

*,
*::before,
*::after {
	box-sizing: inherit; }

html::before{content:"s";display:none!important}
html::after {
	content: '{"mqs":{"l": "(min-width: 1240px)","m": "(min-width: 569px) and (max-width: 1239px)","s": "(max-width: 568px)"},"extras":{"test": "foo"}}' !important;
	display: none !important; }

.css-options::after {
	content: '{"watchCSS":false,"animate":true,"axis": "auto","inputs": "find(input)","values":50,"step":1,"max":100,"min":0}' !important;
	display: none !important; }
