@mixin rb-export-globaljs($mainconfig, $asidebreakpoints...){
	$rbExportMqMap: ();
	$mainbreakpoints: map-get($mainconfig, 'mqs');

	@each $bp in $asidebreakpoints {
		@each $name, $mq in $bp {
			@if(type-of($mq) == string){
				$rbExportMqMap: map-merge($rbExportMqMap, ($name: $mq));
			} @else if(type-of($mq) == map and map-has-key($mq, 'media')){
				$rbExportMqMap: map-merge($rbExportMqMap, ($name: map-get($mq, 'media')));
			}
		}
	}

	@each $name, $mq in $mainbreakpoints {
		@if map-has-key($mq, 'media') {

			$rbExportMqMap: map-merge($rbExportMqMap, ($name: map-get($mq, 'media')));

			html {
				@media #{map-get($mq, 'media')}{
					&::before {
						content: '#{$name}';
						display: none !important;
					}
				}
			}

		}
	}

	html {
		@include exportToJS(map-merge($mainconfig, (mqs: $rbExportMqMap)));
	}
}
