// Hides the text in an element.
//
// @example scss
// .your-element {
//      @include rb-hide-text;
// }
@mixin rb-hide-text {
    overflow: hidden;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}