
@function rb-convert-to-rem($value)  {

	$base-value: 16;
	$value: ($value / $base-value) + rem;

	@if ($value == "0rem") {
		$value: 0;  // Turn 0rem into 0
	}

	@return $value;
}

@function rb-rem-calc($values) {
	$value-length: length($values);

	@if $value-length == 1 {
		@return rb-convert-to-rem(nth($values, 1));
	}

	$remValues: ();

	@for $i from 1 through $value-length {
		$remValues: append($remValues, rb-convert-to-rem(nth($values, $i)));
	}

	@return $remValues;
}
