@mixin rb-tabs-common(){
    &panel-wrapper {
        position: relative;
    }

    &panel {
        display: none;

        .is-fx > &.is-open,
        .is-fx > &.is-closing {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
        }

        &.is-open {
            display: block;
        }
    }
}

@mixin rb-tabs-fade($options: ()){
    @include rb-tabs-common;

    &panel {
        @include rb-fx-fadeOut($options);

        &.is-open {
            @include rb-fx-fadeIn((onlyName: true));
        }
    }
}
