// ====================================================================
//  Generate Grid
//
//  variable:
//  Dependency: [
//      global-style-config
//  ]
//=====================================================================
@mixin rb-generate-global-styles($configs) {
	//Styles breakpoints
	@each $className, $config in $configs {
		$gutter: map-get($config, gutter);
		$flexOrderSize: map-get($config, flexOrderSize);

		@if $className == 'all' {
			@include rb-global-style-config($className, $gutter, $flexOrderSize);
			@include rb-generate-layout-columns();
		} @else {
			@media #{map-get($config, media)} {
				@include rb-global-style-config($className, $gutter, $flexOrderSize);
			}
		}


	}
}

// ====================================================================
// global-style-config
//
//  variable:
//  Dependency: [
//      size-generator,
//      gutter-values,
//      order
//  ]
//=====================================================================
@mixin rb-global-style-config($className, $gutter, $flexOrderSize) {
	@include rb-size-generator($className);
	@include rb-size-gutter-generator($className, $gutter);
	@include rb-flex-order-generator($className, $flexOrderSize);
	@include rb-layout-offset($className);
}

// ====================================================================
//  Generate layout columns
//
//=====================================================================
@mixin rb-generate-layout-columns() {

	.is-col-group {
		display: flex;
		flex-wrap: wrap;

		.is-col-group {
			flex: 1;
		}
	}

	[class*=is-size-] {
		display: flex;
		flex-wrap: wrap;
	}

	.is-unequal-height {
		display: block;
	}

}

@mixin rb-layout-offset($className) {

	@if $className == 'all' {
		$offsetType: '';

	} @else {
		$offsetType: '-' + $className;
	}

	.is-offset-right#{$offsetType} {
		margin-left: auto;
	}

	.is-offset-left#{$offsetType} {
		margin-right: auto;
	}

	.is-offset-middle#{$offsetType} {

	}
}

// ====================================================================
//  Generate Gutters Columns
//
//=====================================================================
@mixin rb-colgroup-gutter-equalizer($gutterHorizontal, $gutterVertical) {
	.is-col-group {

		&.is-gutter {
			padding: 0;
			margin: (-$gutterVertical / 2) (-$gutterHorizontal / 2);
		}

		&.is-gutter-vertical {
			padding: 0;
			margin: (-$gutterVertical / 2) 0;
		}

		&.is-gutter-horizontal {
			padding: 0;
			margin: 0 (-$gutterHorizontal / 2);
		}
	}
}

@mixin rb-size-gutter-generator($className, $gutter) {

	@if type-of($gutter) == 'map' {

		@if map-has-key($gutter, horizontal) {
			$gutterHorizontal: map-get($gutter, horizontal);
		}
		@if map-has-key($gutter, vertical) {
			$gutterVertical: map-get($gutter, vertical);
		}

		.is-col-group {

			&.is-gutter {
				padding: 0 ($gutterHorizontal / 2);

				 > [class*=is-size-] {
					padding: 0 ($gutterHorizontal / 2);
					margin: ($gutterVertical / 2) 0;
				}

				@include rb-colgroup-gutter-equalizer($gutterHorizontal, $gutterVertical);
			}

			&.is-gutter-vertical {

				> [class*=is-size-]  {
					margin: ($gutterVertical / 2) 0;
				}

				@include rb-colgroup-gutter-equalizer($gutterHorizontal, $gutterVertical);
			}

			&.is-gutter-horizontal {

				> [class*=is-size-]  {
					padding: 0 ($gutterHorizontal / 2);
				}

				@include rb-colgroup-gutter-equalizer($gutterHorizontal, $gutterVertical);
			}

		}
	}
}
// ====================================================================
//  Order Generator
//
//=====================================================================
@mixin rb-flex-order-generator($className, $amount: 0) {
	$i: 1;

	@if type-of($amount) != 'number' {
		$amount: 0;
	}

	@if $className == 'all' {
		$orderType: '';
	} @else {
		$orderType: '-' + $className;
	}

	@while $i <= $amount {
		.is-order-#{$i}#{$orderType} {
			order: #{$i}
		}

		&.is-order-minus-#{$i}#{$orderType} {
			order: #{-$i}
		}

		$i: $i + 1;
	}

}

// ====================================================================
//  Size Generator
//
//=====================================================================
@mixin rb-size-generator($className) {
	$i: 5;
	$steps: 5;

	@if $className == 'all' {
		$colomnType: '';

	} @else {
		$colomnType: '-' + $className;
	}

	@while $i <= 100 {

		//If no width is desired
		@if $i == 100 {
			.is-size-auto#{$colomnType} {
				width: auto;
			}
		}

		// create width: 33%
		@if $i > 30 and $i <= 35 {
			.is-size-33#{$colomnType} {
				width: 33.33%;
			}
		}

		// create width: 66%
		@if $i > 65 and $i <= 70 {
			.is-size-66#{$colomnType} {
				width: 66.66%;
			}
		}

		// create width: 16%
		@if $i > 15 and $i <= 20 {
			.is-size-16#{$colomnType} {
				width: 16.66%;
			}
		}

		// create
		&.is-size-#{$i}#{$colomnType} {
			width: $i * 1%;
		}

		// increment the counter
		$i: $i + $steps;
	}
}




