//Form Select
$input-font: 600 18px/1.3 sans-serif !default;
$input-font-color: #555 !default;

$input-height: 40px !default;
$input-block: false !default;
$input-padding: 5px 40px 3px 10px !default;
$input-border-radius: 0 !default;

$input-border: 1px solid #aaa!default;
$input-border-color-hover: #507aff !default;
$input-bg-color: #fff !default;

$input-cursor: pointer !default;

//Deactive (readonly / disabled)
$input-deactive-bg-color: #aaa !default;
$input-deactive-color: #eee !default;

//Invalid
$input-invalid-border-color: red !default;
$input-invalid-bg-color: #ffaaaf !default;

$textarea-min-height: 100px !default;
$textarea-max-height: 100px !default;


$state-btn-inline-margin: 30px !default;
$state-btn-padding: 14px 0 14px 55px !default;

//selection styling outer selection
$state-btn-size: 40px !default;
$state-btn-position-top: 5px !default;
$state-btn-position-left: 0 !default;
$state-btn-border: 1px solid #aaa !default;
$state-btn-border-color-hover: #507aff !default;
$state-btn-bg-color: #fff !default;
$state-btn-padding-inner: 5px !default;
$state-btn-bg-color-inner: #507aff  !default;

//Deactive (readonly/disabled)
$state-btn-deactive-color: #eee !default;

//selection invalid colors
$state-btn-invalid-border-color: red !default;

$label-font: 600 18px/24px sans-serif !default;

$label-color: #000 !default;
$label-margin: 0 0 5px !default;
$label-invalid-color: red !default;

$labelgroup-font: 600 20px/24px sans-serif !default;
$labelgroup-color: #000 !default;
$labelgroup-margin: 0 0 20px !default;
$labelgroup-invalid-color: red !default;

$selectbox-font: 600 18px/1.3 sans-serif !default;
$selectbox-color: #555 !default;

$selectbox-height: 40px !default;
$selectbox-block: false !default;
$selectbox-padding: 5px 50px 3px 10px !default;
$selectbox-border-radius: 0 !default;

$selectbox-border: 1px solid #aaa !default;
$selectbox-border-color-hover: #507aff !default;
$selectbox-bg-color: #eee !default;

$selectbox-deactive-bg-color: #f9f9f9 !default;
$selectbox-deactive-color: #eee !default;

$selectbox-invalid-border-color: red !default;

@mixin form-input-and-textarea($custom:true, $block: true) {

    &input:not([type="radio"]):not([type="checkbox"]) {
        min-height: $input-height;
    }

    &textarea {
        min-height: $textarea-min-height;
        max-height: $textarea-max-height;
    }

    &input:not([type="radio"]):not([type="checkbox"]),
    &textarea {
        position: relative;
        margin: 0;
        padding: $input-padding;
        border: $input-border;
        border-radius: $input-border-radius;
        font: $input-font;
        box-shadow: none;
        background-color: $input-bg-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $input-font-color;
        cursor: $input-cursor;

        @if $block {
            display: block;
            width: 100%;
        }

        @if $custom {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
        }

        &.user-error {
            border-color: $input-invalid-border-color;
        }

        &:focus,
        &:hover {
            outline: none;
            border-color: $input-border-color-hover;

            &.user-error {
                border-color: $input-border-color-hover;
            }
        }

        &[disabled],
        &[readonly] {
            border: none;
            box-shadow: none;
            color: $input-deactive-color;
            background-color: $input-deactive-bg-color;
            background-image: none;
            cursor: not-allowed;
        }

        .is-invalid & {
            border-color: $input-invalid-border-color;
            background-color: $input-invalid-bg-color;

            &:hover,
            &:focus {
                border-color: $input-border-color-hover;
            }
        }
    }
}

@mixin form-input-state-btn($type: checkbox, $custom:true) {

    .is-#{$type} & {

        &label-#{$type} {
            margin: 0;
        }

        @if $custom {
            &input[type="#{$type}"]{
                overflow: hidden;
                position: absolute;
                margin: 0;
                padding: 0;
                clip: rect(1px, 1px, 1px, 1px);
                background : none;
            }
        }

        &label {
            display: block;
            padding: $state-btn-padding;

            @if $custom {

                &::before {
                    content: "";
                    position: absolute;
                    top: $state-btn-position-top;
                    left: $state-btn-position-left;
                    width: $state-btn-size;
                    height: $state-btn-size;
                    padding: $state-btn-padding-inner;
                    border: $state-btn-border;
                    background-color: $state-btn-bg-color;
                    background-clip: content-box;

                    @if $type == "radio" {
                        border-radius: 50%;
                    }

                    .is-invalid & {
                        border-color: $state-btn-invalid-border-color;
                    }
                }
            }
        }

        //Status Selection buttons
        &input:checked {
            ~ .is-label-#{$type} {
                &::before {
                    background-color: $state-btn-bg-color-inner;
                }
            }
        }

        &input[disabled] ~ .is-state-label,
        &input[readonly] ~ .is-state-label {
            color: $state-btn-deactive-color;
            cursor: not-allowed;

            &::before {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }

        &input:focus:not([disabled]):not([readonly]),
        &input:hover:not([disabled]):not([readonly]) {

            ~ .is-label-#{$type} {
                &::before {
                    border-color: $state-btn-border-color-hover;

                    .is-invalid & {
                        border-color: $state-btn-border-color-hover;
                    }
                }
            }
        }
    }
}



@mixin form-label($block: false) {

    &label {
        position: relative;
        cursor: pointer;
        margin: $label-margin;
        font: $label-font;
        color: $label-color;

        @if $block {
            display: block;
            width: 100%;
        }

        &.is-invalid & {
            color: $label-invalid-color;
        }
    }

    &group-label {
        display: block;
        width: 100%;
        margin: $labelgroup-margin;
        font: $labelgroup-font;
        color: $labelgroup-color;

        .is-invalid & {
            color: $label-invalid-color;
        }
    }

}



//Form Select
@mixin form-selectbox($custom:true, $block: true) {

    &select {
        position: relative;
        margin: 0;
        min-height: $selectbox-height;
        padding: $selectbox-padding;
        border: $selectbox-border;
        border-radius: $selectbox-border-radius;
        font: $selectbox-font;
        text-overflow: ellipsis;
        box-shadow: none;
        overflow: hidden;
        background-color: $selectbox-bg-color;
        white-space: nowrap;
        color: $selectbox-color;
        cursor: pointer;

        option {
            &:active,
            &:focus {
                background-color: #000088;
            }
        }


        @if $block {
            display: block;
            width: 100%;
        }

        @if $custom {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;

            &::-ms-expand {
                display: none; //remove arrow in ie
            }
        }

        &.user-error {
            border-color: $selectbox-invalid-border-color;
        }

        &:focus,
        &:hover {
            outline: none;
            border-color: $selectbox-border-color-hover;

            &.user-error {
                border-color: $selectbox-border-color-hover;
            }
        }

        &[disabled],
        &[readonly] {
            border: none;
            box-shadow: none;
            color: $selectbox-deactive-color;
            background-color: $selectbox-deactive-bg-color;
            background-image: none;
            cursor: not-allowed;

            &:hover,
            &:focus {
                border-color: rgba(0,0,0,0);
            }
        }
    }

}

