@mixin rb-generate-layout-columns() {

	.use-column-group {
		display: flex;
		flex-wrap: wrap;

		.use-column-group {
			flex: 1;
		}
	}

	.use-equal-heights {
		> [class*=use-size-]  {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.use-unequal-height,
	[class*=use-size-].use-unequal-height {
		display: block;
	}

	.use-equal-height,
	[class*=use-size-].use-equal-height {
		display: flex;
		flex-wrap: wrap;
	}

}

@mixin rb-layout-offset($className) {

	@if $className == 'all' {
		$offsetType: '';

	} @else {
		$offsetType: '-' + $className;
	}

	.use-offset-right#{$offsetType} {
		margin-left: auto;
	}

	.use-offset-left#{$offsetType} {
		margin-right: auto;
	}

	.use-offset-center#{$offsetType} {
		margin: auto;
	}
}

//
//
//
@mixin rb-size-gutter-generator($className, $gutter) {

	@if type-of($gutter) == 'map' {

		@if map-has-key($gutter, horizontal) {
			$gutterHorizontal: map-get($gutter, horizontal);
		}
		@if map-has-key($gutter, vertical) {
			$gutterVertical: map-get($gutter, vertical);
		}

		.use-gutters {
			margin-left: (-$gutterHorizontal);

			> [class*=use-size-] {
				margin-bottom: $gutterVertical;
				padding-left: ($gutterHorizontal);
			}
		}

		> [class*=use-size-].use-gutter {
			margin-bottom: $gutterVertical;
			padding-left: ($gutterHorizontal);
		}

		.use-gutters-vertical {

			> [class*=use-size-]  {
				margin-bottom: $gutterVertical;
			}
		}

		> [class*=use-size-].use-gutter-vertical {
			margin-bottom: $gutterVertical;
		}

		.use-gutters-horizontal {
			margin-left: (-$gutterHorizontal);

			> [class*=use-size-]  {
				padding-left: ($gutterHorizontal);
			}
		}

		> [class*=use-size-].use-gutter-horizontal {
			padding-left: ($gutterHorizontal);
		}

		//Destroy gutter
		[class*=use-size-].use-no-gutter-vertical {
			margin-bottom: 0;
		}
		//[class*=use-size-].use-gutter-horizontal-destroy {
		//	padding-left: 0;
		//}

	}
}


//  Size Generator
//
//
@mixin rb-size-generator($className) {
	$i: 5;
	$steps: 5;

	@if $className == 'all' {
		$colomnType: '';
	} @else {
		$colomnType: '-' + $className;
	}

	@while $i <= 100 {

		//If no width is desired
		@if $i == 100 {
			.use-size-auto#{$colomnType} {
				width: auto;
			}

			//Element will take available space
			.use-size-flex#{$colomnType} {
				flex: 1;
				width: auto;
			}

			//Element will take twice the available space
			.use-size-flex-double {
				flex: 2;
				width: auto;
			}
		}

		// create width: 33%
		@if $i > 30 and $i <= 35 {
			.use-size-33#{$colomnType} {
				width: 33.3333%;
			}
		}

		// create width: 66%
		@if $i > 65 and $i <= 70 {
			.use-size-66#{$colomnType} {
				width: 66.6666%;
			}
		}

		// create width: 16%
		@if $i > 15 and $i <= 20 {
			.use-size-16#{$colomnType} {
				width: 16.6666%;
			}
		}

		// create
		&.use-size-#{$i}#{$colomnType} {
			width: $i * 1%;
		}

		// increment the counter
		$i: $i + $steps;
	}

}

//
@mixin rb-generate-layout-styles($configs) {
	//Styles breakpoints
	@each $className, $config in $configs {
		$gutter: map-get($config, gutter);
		$flexOrderSize: map-get($config, flexOrderSize);

		@if $className == 'all' {
			@include rb-layout-styles($className, $gutter, $flexOrderSize);
			@include rb-generate-layout-columns();
		} @else {
			@media #{map-get($config, media)} {
				@include rb-layout-styles($className, $gutter, $flexOrderSize);
			}
		}
	}
}

@mixin rb-layout-styles($className, $gutter, $flexOrderSize) {
	@include rb-size-generator($className);
	@include rb-size-gutter-generator($className, $gutter);
	@include rb-layout-offset($className);
}

