////
/// rb-accordion
/// List of items, allowing each item to hide or reveal additional content by clicking the header/button
///
///
//// -------------------------
$accordionJSCFG: (
    multiple: false,
    selectedIndex: -1,
    toggle: true,
    adjustScroll: 10,
    animation: 'slide',
);

.rb-accordion {
    width: 100%;
    @include rb-js-export($accordionJSCFG);

    @at-root .accordion- {

        &btn {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #aaa;

            padding: rb-em-calc(20);
            text-align: left;
            background: #e6e6e6;

            &:hover,
            &:focus {
                background: #ddd;;
            }
        }

        &panel {
            @include rb-clearfix;
            display: block;
            height: 0;
            overflow: hidden;
            background: #f7f7f7;
            visibility: hidden;
            opacity: 0;
            transition: opacity 400ms, visibility 400ms;

            &.is-open {
                visibility: inherit;
                overflow: visible;
                height: auto;
                opacity: 1;
            }
        }

        &content {
            padding: 20px 20px 0;
        }

        &controls {
            margin-bottom: rb-em-calc(15);
        }

        &ctrl-btn {
            padding: rb-em-calc(7 10);
            border: none;
            transition: background 300ms ease-in;

            &:hover,
            &:focus {
                background: #777;
            }
        }
    }

}

@media (max-width: 500px) {
    .rb-accordion {
        @include rb-js-export(map_merge($accordionJSCFG, (
            switchedOff: true
        )));

        .accordion-panel {
            visibility: visible;
            overflow: visible;
            height: auto;
            opacity: 1;
        }
    }
}
