---
title: accordion
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">
        {{#with rb_accordion.default }}
            {{> rb_accordion }}
        {{/with}}
    </div>
</section>


