node_modules
build
dist
dev
doc
jsdoc
jsdoc-md
tmp
bower_components
styleguide
visual-tests
sources/components/**/tests/visual/visual-tests/results

//npm files
components
helpers
utils
rb_$
core.js
$.js
crucial.js
polyfills.js
_basics.scss
_helpers.scss


.sass-cache
.css

.DS_Store
.idea
Gemfile.lock
*.bat
*.bundle
*.cache
*.log
*.sass-cache
*.sublime-project
*.sublime-workspace
*.temp
*.tmp
