node_modules
build
dist
dev
doc
jsdoc
tmp
bower_components
styleguide
tests
jsdoc-md
todos.md
scaffold.js
grunt
taskrunner
sources
components/**/*.scss
components/**/*.hbs
components/**/*.html
components/**/*.md
components/**/*.json
components/**/*-test.html
components/**/*-tests.*

.sass-cache
.css
.scaffold

.DS_Store
.idea
Gemfile.lock
*.bat
*.bundle
*.cache
*.log
*.sass-cache
*.sublime-project
*.sublime-workspace
*.temp
*.tmp
