---
component: rb_tabs
---

<div class="rb-tabs js-click is-fade" data-module="tabs">
	<button type="button" class="tabs-btn" aria-expanded="true">1</button>
	<button type="button" class="tabs-btn">2</button>
	<button type="button" class="tabs-btn">3</button>
	<button type="button" class="tabs-ctrl-btn" data-type="prev">&lt;</button>
	<button type="button" class="tabs-ctrl-btn" data-type="next">&gt;</button>
	<div class="tabs-panel-wrapper">
		<div class="tabs-panel is-open">
			<h2>Panel 1</h2>
			<img src="http://lorempixel.com/400/200/" />
		</div>
		<div class="tabs-panel" style="min-height: 400px; background: #eee;">
			<h2>Panel 2</h2>
			<img src="http://lorempixel.com/400/250/" />
		</div>
		<div class="tabs-panel">
			<h2>Panel 3</h2>
			<img src="http://lorempixel.com/400/150/" />
		</div>
	</div>
</div>

<div class="rb-tabs js-click is-slide" data-module="tabs">

	<button type="button" class="tabs-ctrl-btn" data-type="prev">&lt;</button>
	<button type="button" class="tabs-ctrl-btn" data-type="next">&gt;</button>
	<div class="tabs-panel-wrapper">
		<div class="tabs-panel is-open">
			<h2>Panel 1</h2>
			<img src="http://lorempixel.com/400/200/" />
		</div>
		<div class="tabs-panel" style="min-height: 400px; background: #eee;">
			<h2>Panel 2</h2>
			<img src="http://lorempixel.com/400/250/" />
		</div>
		<div class="tabs-panel">
			<h2>Panel 3</h2>
			<img src="http://lorempixel.com/400/150/" />
		</div>
	</div>
</div>

