/*********************************************************

rb-page
----------------------------------------------------------

**********************************************************/
.rb-page {
    width: 100%;

    @at-root .page- {

        //Main wrapper page
        &wrapper {
            width: 100%;
        }

        //Main header page
        &header {
            width: 100%;
            margin-bottom: 30px;
            padding: 20px 0;
            background: #f7f7f7;
        }

        &header-inner {
            padding: 0 20px;
        }

        //Main content page
        &main {
            width: 100%;
        }

        //Main footer page
        &footer {
            width: 100%;
        }

        &footer-inner {
            padding: 0 20px;
        }

        //Main section page
        &section {
            width: 100%
        }

        &section-inner {
            max-width: $grid-max-width;
            margin: 0 auto;
            padding: 0 20px;
        }
    }
}
