// Generates all utility styles
//
// @param {List} $configs - A list of all breakpoint specific settings used on utility classes.
//
@mixin rb-generate-layout-utils($configs) {
    //Styles breakpoints
    @each $breakpoint-name, $config in $configs {
        $media: map-get($config, media);
        $gutters: map-get($config, gutter);
        $grid-max-width: map-get($config, grid-max-width);
        $order-size: map-get($config, flex-order-size);

        @if $breakpoint-name == 'all' {
            @include rb-layout-utils($breakpoint-name, $gutters, $order-size, $grid-max-width);
            @include rb-util-gridcontainer();
            @include rb-util-columns();
        } @else {
            @if $media {
                @media #{$media} {
                    @include rb-layout-utils($breakpoint-name, $gutters, $order-size, $grid-max-width);
                }
            } @else {
                @warn 'No media query is found for breakpoint property "#{$breakpoint-name}" inside $breakpoint-config';
            }

        }
    }
}

// Assemblage of layout utils to use in rb-generate-layout-utils
//
// @param {String} $breakpoint-name - Breakpoint name added to end of class (with the exception of all) which correspond to the assigned screen size.
// @param {List|Number} $gutters - List of horizontal and vertical gutter values (em/px/%).
// @param {Number} $orderSize - Amount of order set.
// @param {Number} $grid-max-width - Maximal width set in corresponding breakpoint (em/px/%).
@mixin rb-layout-utils($breakpoint-name, $gutters, $order-size, $grid-max-width) {
    @include rb-util-sizes($breakpoint-name);
    @include rb-util-gutters($breakpoint-name, $gutters);
    @include rb-util-position($breakpoint-name);
    @include rb-util-visibility($breakpoint-name);
    @include rb-util-basics($breakpoint-name, $grid-max-width);
}

