//Reposition a column
//
//
@mixin rb-util-position($breakpoint-name) {
    $i: 5;
    $steps: 5;

    @if $breakpoint-name == 'all' {
        $type: '';

        [class*=u-offset-],
        [class*=u-push-] {
            position: relative;
        }

    } @else {
        $type: '-' + $breakpoint-name;
    }


    .u-offset-right#{$type} {
        margin-left: auto;
    }

    .u-offset-left#{$type} {
        margin-right: auto;
    }

    .u-offset-center#{$type} {
        margin-right: auto;
        margin-left: auto;
    }

    //Position all columns inside container (justify-content: for main-axis / align-items: for cross axis)
    .u-offset-columns-left#{$type} {
        justify-content: flex-start;
    }

    .u-offset-columns-center#{$type} {
        justify-content: center;
    }

    .u-offset-columns-right#{$type} {
        justify-content: flex-end;
    }

    .u-offset-columns-top#{$type} {
        align-items: flex-start;
    }

    .u-offset-columns-middle#{$type} {
        align-items: center;
    }

    .u-offset-columns-bottom#{$type} {
        align-items: flex-end;
    }



    //TODO: check if all push classes are needed or just some.
    @if $breakpoint-name == 'all' {
        @while $i <= 100 {

            // create width: 33%
            @if $i > 30 and $i <= 35 {
                .u-push-33#{$type} {
                    left: 33.3333%;
                }
            }

            // create width: 66%
            @if $i > 65 and $i <= 70 {
                .u-push-66#{$type} {
                    left: 66.6666%;
                }
            }

            // create width: 16%
            @if $i > 15 and $i <= 20 {
                .u-push-16#{$type} {
                    left: 16.6666%;
                }
            }

            // create
            &.u-push-#{$i}#{$type} {
                left: $i * 1%;
            }

            // increment the counter
            $i: $i + $steps;
        }
    }
}