// Creates classes to define the visibility of an element
//
// @param {String} $breakpointName - Breakpoint name added to end of class (with the exception of all) which responds to assigned screen size.
@mixin rb-util-visibility($breakpointName) {
    @if $breakpointName == 'all' {
        $type: '';

    } @else {
        $type: '-' + $breakpointName;
    }

    //Hides element in layout.
    .u-hide#{$type} {
        display: none !important;
    }

    //Shows element in layout
    .u-show#{$type} {
        display: inherit !important;
    }

    //Hides content elements visually while still allowing accessibility for assistive technology.
    .u-visually-hidden#{$type} {
        display: block;
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: circle(1% at 1% 1%);
        width: 1px;
        height: 1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }

    //Shows content elements what was visually hidden.
    .u-visually-shown#{$type} {
        position: static;
        clip: auto;
        clip-path: none;
        height: auto;
        width: auto;
        overflow: visible;
    }
}