// Adds space between columns if "u-size-" is set on element.
//
// @param {List|Number} $gutters - list of horizontal and vertical gutter values (em/px/%).
@mixin rb-util-gutters($breakpoint-name, $gutters) {

    @if $breakpoint-name == 'all' {
        $type: '';
    } @else {
        $type: '-' + $breakpoint-name;
    }

    @if type-of($gutters) == 'map' {

        @if map-has-key($gutters, horizontal) {
            $gutter-horizontal: map-get($gutters, horizontal) / 2;
        }
        @if map-has-key($gutters, vertical) {
            $gutter-vertical: map-get($gutters, vertical);
        }

        //Horizontal & vertical gutters
        .u-gutters {
            margin-left: -$gutter-horizontal;
            margin-right: -$gutter-horizontal;

            > [class*=u-size-] {
                margin-bottom: $gutter-vertical;
                padding-left: $gutter-horizontal;
                padding-right: $gutter-horizontal;
            }
        }

        .u-gutters-half {
            margin-left: -$gutter-horizontal / 2;
            margin-right: -$gutter-horizontal / 2;

            > [class*=u-size-] {
                margin-bottom: -$gutter-vertical / 2;
                padding-left: -$gutter-horizontal / 2;
                padding-right: -$gutter-horizontal / 2;
            }
        }

        .u-gutters-double {
            margin-left: -$gutter-horizontal * 2;
            margin-right: -$gutter-horizontal * 2;


            > [class*=u-size-] {
                margin-bottom: $gutter-vertical * 2;
                padding-left: $gutter-horizontal * 2;
                padding-right: $gutter-horizontal * 2;
            }
        }

        //Only vertical gutters
        .u-gutters-vertical {

            > [class*=u-size-]  {
                margin-bottom: $gutter-vertical;
            }
        }

        .u-gutters-vertical-half {

            > [class*=u-size-]  {
                margin-bottom: $gutter-vertical / 2;
            }
        }

        .u-gutters-vertical-double {

            > [class*=u-size-]  {
                margin-bottom: $gutter-vertical * 2;
            }
        }

        //Only horizontal gutters
        .u-gutters-horizontal {
            margin-left: -$gutter-horizontal;
            margin-right: -$gutter-horizontal;

            > [class*=u-size-]  {
                padding-left: $gutter-horizontal;
                padding-right: $gutter-horizontal;
            }
        }

        .u-gutters-horizontal-half {
            margin-left: -$gutter-horizontal / 2;
            margin-right: -$gutter-horizontal / 2;

            > [class*=u-size-]  {
                padding-left: $gutter-horizontal / 2;
                padding-right: $gutter-horizontal / 2;
            }
        }

        .u-gutters-horizontal-double {
            margin-left: -$gutter-horizontal * 2;
            margin-right: -$gutter-horizontal * 2;

            > [class*=u-size-]  {
                padding-left: $gutter-horizontal * 2;
                padding-right: $gutter-horizontal * 2;
            }
        }
    }
}