//Generates all utility styles with devices
@mixin rb-generate-layout-utils($configs) {
    //Styles breakpoints
    @each $breakpointName, $config in $configs {
        $gutters: map-get($config, gutter);
        $gridMaxWidth: map-get($config, gridMaxWidth);
        $flexOrderSize: map-get($config, flexOrderSize);

        @if $breakpointName == 'all' {
            @include rb-layout-utils($breakpointName, $gutters, $flexOrderSize, $gridMaxWidth);
            @include rb-layout-columns();

        } @else {
            @media #{map-get($config, media)} {
                @include rb-layout-utils($breakpointName, $gutters, $flexOrderSize, $gridMaxWidth);
            }
        }
    }
}

@mixin rb-layout-utils($breakpointName, $gutters, $flexOrderSize, $gridMaxWidth) {
    @include rb-util-sizes($breakpointName);
    @include rb-util-gutters($gutters);
    @include rb-util-position($breakpointName);
    @include rb-util-basics($breakpointName, $gridMaxWidth);
}

