// Adds space between columns if "u-size-" is set on element.
//
// @param {List|Number} $gutters - list of horizontal and vertical gutter values (em/px/%).
@mixin rb-util-gutters($breakpointName, $gutters) {

    @if $breakpointName == 'all' {
        $type: '';
    } @else {
        $type: '-' + $breakpointName;
    }

    @if type-of($gutters) == 'map' {

        @if map-has-key($gutters, horizontal) {
            $gutterHorizontal: map-get($gutters, horizontal);
        }
        @if map-has-key($gutters, vertical) {
            $gutterVertical: map-get($gutters, vertical);
        }

        //Horizontal & vertical gutters
        .u-gutters {
            margin-left: (-$gutterHorizontal);

            > [class*=u-size-] {
                margin-bottom: $gutterVertical;
                padding-left: ($gutterHorizontal);
            }
        }

        .u-gutters-half {
            margin-left: (-$gutterHorizontal) / 2;

            > [class*=u-size-] {
                margin-bottom: $gutterVertical / 2;
                padding-left: ($gutterHorizontal) / 2;
            }
        }

        .u-gutters-double {
            margin-left: (-$gutterHorizontal) * 2;

            > [class*=u-size-] {
                margin-bottom: $gutterVertical * 2;
                padding-left: ($gutterHorizontal) * 2;
            }
        }

        > [class*=u-size-].u-gutter {
            margin-bottom: $gutterVertical;
            padding-left: ($gutterHorizontal);
        }

        //Only vertical gutters
        .u-gutters-vertical {

            > [class*=u-size-]  {
                margin-bottom: $gutterVertical;
            }
        }

        .u-gutters-vertical-half {

            > [class*=u-size-]  {
                margin-bottom: $gutterVertical / 2;
            }
        }

        .u-gutters-vertical-double {

            > [class*=u-size-]  {
                margin-bottom: $gutterVertical * 2;
            }
        }

        > [class*=u-size-].u-gutter-vertical {
            margin-bottom: $gutterVertical;
        }


        //Only horizontal gutters
        .u-gutters-horizontal {
            margin-left: (-$gutterHorizontal);

            > [class*=u-size-]  {
                padding-left: ($gutterHorizontal);
            }
        }

        .u-gutters-horizontal-half {
            margin-left: (-$gutterHorizontal) / 2;

            > [class*=u-size-]  {
                padding-left: ($gutterHorizontal) / 2;
            }
        }

        .u-gutters-horizontal-double {
            margin-left: (-$gutterHorizontal) * 2;

            > [class*=u-size-]  {
                padding-left: ($gutterHorizontal) * 2;
            }
        }


        > [class*=u-size-].u-gutter-horizontal {
            padding-left: ($gutterHorizontal);
        }

        //Remove gutter
        [class*=u-size-].u-no-gutter-vertical {
            margin-bottom: 0;
        }

    }
}