//Reposition a column
//
//
@mixin rb-util-position($breakpointName) {
    $i: 5;
    $steps: 5;

    @if $breakpointName == 'all' {
        $type: '';

        [class*=u-offset-],
        [class*=u-push-] {
            position: relative;
        }

    } @else {
        $type: '-' + $breakpointName;
    }

    .u-offset-right#{$type} {
        margin-left: auto;
    }

    .u-offset-left#{$type} {
        margin-right: auto;
    }

    .u-offset-center#{$type} {
        margin-right: auto;
        margin-left: auto;
    }

    .u-offset-columns-left#{$type} {
        justify-content: flex-start;
    }

    @if $breakpointName == 'all' {
        @while $i <= 100 {

            // create width: 33%
            @if $i > 30 and $i <= 35 {
                .u-push-33#{$type} {
                    left: 33.3333%;
                }
            }

            // create width: 66%
            @if $i > 65 and $i <= 70 {
                .u-push-66#{$type} {
                    left: 66.6666%;
                }
            }

            // create width: 16%
            @if $i > 15 and $i <= 20 {
                .u-push-16#{$type} {
                    left: 16.6666%;
                }
            }

            // create
            &.u-push-#{$i}#{$type} {
                left: $i * 1%;
            }

            // increment the counter
            $i: $i + $steps;
        }
    }
}