@mixin rb-util-basics($breakpointName, $gridMaxWidth) {

    @if $breakpointName == 'all' {
        $type: '';
    } @else {
        $type: '-' + $breakpointName;
    }

    @if $gridMaxWidth {
        .use-grid-maxwidth#{$type} {
            max-width: $gridMaxWidth;
        }
    }
}
