/*
 * Component: Button
**********************************************************/


// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/utils/rb_px_to_units";


//----------------------------------------------------------


.rb-button {
    display: inline-block;
    padding: rb-em-calc(15 20);
    font-size: 1rem;
    font-weight: 400;
    touch-action: manipulation;
    color: #fff;
    border: none;
    background: #aaa;
    transition: background 400ms ease;

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
        background: #888;
    }

    &.is-stretched {
        display: block;
        width: 100%;
    }

    //Color modifiers
    &.is-primary {
        background: #00f;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #00007e;
        }
    }

    &.is-secondary {
        background: #0af;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #007fba;
        }
    }

    &.is-success {
        background: #22bd5e;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #1b8643;
        }
    }

    &.is-danger {
        background: #f01;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #b01;
        }
    }

    &.is-warning {
        background: #faa732;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #b37827;
        }
    }

    &[disabled],
    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.3;
        outline: none;
    }
}
