//
// rb-button
// rb-button component represent to main call-to-action elements. The buttons can be created with most markup elements, but `<button>`
// and `<a>` are the most deserved.
//
// @modifiers
// .is-stretched: stretched the button to full size (block)
//
// @modifiers colors
// .is-primary: button that represent most important action.
// .is-secondary: button for less utilized action.
// .is-success: button that represent an successfull action.
// .is-error: button that represent that something is wrong.
// .is-warning: button that represent a warning action
// .is-disabled: button that is disabled for calling action
//
// @Dependencies
@import '../../sass/helpers/rb_px_to_units';

.rb-button {
    display: inline-block;
    border: none;
    padding: rb-em-calc(15 20);
    font-size: rb-rem-calc(16);
    font-weight: 400;
    color: #fff;
    background: #aaa;
    transition: background 400ms ease;
    touch-action: manipulation;

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
        background: #888;
    }

    &.is-stretched {
        display: block;
        width: 100%;
    }

    //Color modifiers
    &.is-primary {
        background: #0000ff;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #00007e;
        }
    }

    &.is-secondary {
        background: #00aaff;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #007fba;
        }
    }

    &.is-success {
        background: #22bd5e;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled)  {
            background: #1b8643;
        }
    }

    &.is-danger {
        background: #f01;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #bb0011;
        }
    }

    &.is-warning {
        background: #faa732;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
            background: #b37827;
        }
    }

    &[disabled],
    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.3;
        outline: none;
    }

}
