---
title: Buttons Page
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">
        {{#with rb_button }}
            {{> rb_button }}
        {{/with}}
    </div>
</section>