---
title: Buttons Page
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group use-gutters">
            <div class="use-size-100 use-gutter-vertical-destroy">
                <div class="rb-richtext">
{{#markdown}}
#rb-button
Buttons can be created with several markup elements, but `<button>`
and `<a>` are the most deserved.
- If you want to link to another page or place within a page, use the `<a>` element. Mainly JavaScript is not necessary.
- If you want to perform an action to carry out something, use the `<button>` element. JavaScript is mainly necssary


    <!-- Anchor (link) -->
    <a href="index.html" class="rb-button is-primary">Home</a>

    <!-- Button (action) -->
    <button type="button" class="rb-button is-error">Start</button>
{{/markdown}}
                </div>
            </div>
            <div class="use-size-15">
                {{#mergeJSON rb_button 'title: "Home ", link:"#"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-15">
                {{#mergeJSON rb_button 'title: "Start"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
        </div>

        <div class="use-column-group use-gutters">
            <div class="use-size-100 use-gutter-vertical-destroy">
                <div class="rb-richtext">
{{#markdown}}
##CSS Classes
| Class name | Description
| ------------- |-------------|
| `.rb-button` | Button component class (required) |
| `.is-primary`<br>`.is-secondary`<br> `.is-success`<br> `.is-error`<br>`.is-warning`<br>| Button color modifiers  |
| `.is-stretched`| Additional class take up 100% of the width of their container.

##Color modifier classes
These classes gives the buttons additional meaning.
{{/markdown}}
                </div>
            </div>
            <div class="use-size-20">
                {{#mergeJSON rb_button 'type: "is-primary", title: "Primary"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-20">
                {{#mergeJSON rb_button 'type: "is-secondary", title: "Secondary "'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-20">
                {{#mergeJSON rb_button 'type: "is-success", title: "Success"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-20">
                {{#mergeJSON rb_button 'type: "is-error", title: "Error"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-20">
                {{#mergeJSON rb_button 'type: "is-warning", title: "Warning"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
        </div>
        <div class="use-column-group use-gutters">
            <div class="use-size-100">
                <div class="rb-richtext">
{{#markdown}}
##Additional modifier classes
These classes changes the shape of a button.

    <!-- Anchor (link) -->
    <a href="index.html" class="rb-button is-primary">Home</a>

    <!-- Button (action) -->
    <button type="button" class="rb-button is-error">Cancel</button>
{{/markdown}}
                </div>
            </div>
            <div class="use-size-50">
                {{#mergeJSON rb_button 'type: "is-secondary is-stretched", title: "Secondary "'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
            <div class="use-size-50">
                {{#mergeJSON rb_button 'type: "is-primary is-stretched", title: "Primary"'}}
                    {{> rb_button }}
                {{/mergeJSON}}
            </div>
        </div>
    </div>
</section>
