/*
 * Component: {Name}
**********************************************************/

// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************
//@import '../../sass/helpers/';

//----------------------------------------------------------

.{fullName} {

}
