/*
 * Component: Logo
**********************************************************/

//---------------------------------------------------------
.rb-logo {
	width: 100%;
}

.logo-inner {
	display: block;
}

.logo-symbol {
	height: 21px;
	width: 115px;
}