/*
 * Component: Logo
**********************************************************/

//---------------------------------------------------------
.rb-logo {
	width: 100%;

	@at-root .logo- {

		&inner {
			display: block;
		}

		&symbol {
			height: 21px;
			width: 115px;
		}
	}
}

