---
component: rb_logo
---

<div class="rb-logo">
	<a class="logo-inner" title="Startpage" href="{{ link }}">
        {{glob '*/sources/components/rb_logo/logo.svg' }}
	</a>
</div>

<!--Add svg to top body element-->
{{glob 'sources/components/rb_logo/logo.svg' }}

