@function rbToJSON($data) {
	$string: "";

	@if type-of($data) == "map" {
		$string: $string + "{";

		@each $key, $value in $data {
			$string: $string + '"' + $key + '":' + rbToJSON($value) +',';
		}

		$string: str-slice($string, 0, str-length($string) - 1) + '}';
	}
	@else if type-of($data) == "list" {
		$string: $string + "[";

		@for $i from 1 through length($data) {
			$string: $string + rbToJSON(nth($data, $i)) +',';
		}

		$string: str-slice($string, 0, str-length($string) - 1)  + ']';
	}
	@else if type-of($data) == "number" {
		$string: $string + $data;
	}
	@else if type-of($data) == "string" {
		$string: $string + ' "' + $data + '"';
	} @else if type-of($data) == "bool" {
		$string: $string + $data;
	} @else {
		$string: $string + 'null';
	}

	@return $string;
}

@mixin exportToJS($data){
	&::after {
		$string: rbToJSON($data);
		content: $string !important;
		//font-familiy: $string !important;
		display: none !important;
	}
}
