
@function convert-to-rem($value)  {

	$base-value: 16;


	$value: ($value / $base-value) + rem;

	@if ($value == "0rem") {
		$value: 0;  // Turn 0rem into 0
	}

	@return $value;
}

@function rem-calc($values) {

	$value-lenght: length($values);

	@if $value-lenght == 1 {
		@return convert-to-rem(nth($values, 1));
	}

	$remValues: ();

	@for $i from 1 through $value-lenght {
		$remValues: append($remValues, convert-to-rem(nth($values, $i)));
	}

	@return $remValues;
}
