/*
 * Component: Dialog
**********************************************************/

// Variables
//**********************************************************

// JS Config
//**********************************************************
$dialogJSCFG: (
    watchCss: true,
    closeOnEsc: true,
    closeOnBackdropClick: false,
    open: true,
);

// Dependencies (Helpers)
//**********************************************************
@import '../../sass/helpers/animations/fx/rb_fx_zoom';

//----------------------------------------------------------
.rb-dialog {
    //@include rb-js-export($dialogJSCFG);
    @include rb-fx-zoomOutSmall;
    display: none;
    position: relative;
    background: #fff;
    max-width: 680px;
    margin: auto;
    outline: none;

    @media (max-width: 620px), (max-height: 320px) {
        margin: 0;
        width: 100%;
        min-height: 100%;
        max-width: none;

        @at-root {
            .dialog-backdrop-document {
                align-items: stretch;
            }
        }
    }
}

.dialog-close {

}

//body styles
.is-open-dialog-within,
.is-open-dialog-within > body {
    overflow: hidden;
}
.dialog-backdrop {
    @include rb-fx-fadeOut();
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 400ms visibility;

    .rb-dialog {
        display: block;
    }

    &.is-open {
        @include rb-fx-fadeIn();
        display: block;
        visibility: inherit;

        .rb-dialog {
            @include rb-fx-zoomInSmall;
            visibility: inherit;
        }
    }
}

.dialog-backdrop-document {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100%;
}





