---
component: rb-dialog
---

<div class="rb-dialog js-rb-life" data-module="dialog">
    <div class="dialog-content">
        {{#each content}}
            {{{ this }}}
        {{/each}}
    </div>
    <button type="button" class="dialog-close">Close Dialog</button>
</div>
