---
component: rb-dialog
---


<div class="rb-dialog js-rb-life" data-module="dialog">
	<div class="dialog-inner">
		<h1 class="dialog-title">{{ title }}</h1>
		<p>{{ text }}</p>
	</div>
	<button type="button" class="dialog-close">Close Dialog</button>
</div>
