---
title: Dialog Page
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">
        <button type="button" data-module="button" class="js-click" data-target="$(.rb-dialog)">open dialog</button>
        {{> rb_dialog }}
    </div>
</section>
