<ul class="rb-listbox {{ type }}" data-module="listbox" {{#eachProperty attrs}}{{this.key}}="{{this.value}}"{{/eachProperty}}>
    {{#each items}}
        <li class="listbox-item">{{ title }}</li>
    {{/each}}
</ul>

