<ul class="js-rb-life" data-module="listbox" role="listbox" tabindex="0">
	<li class="listbox-item">option 1</li>
	<li class="listbox-item">option 2</li>
	<li class="listbox-item">option 3</li>
	<li class="listbox-item">option 4</li>
</ul>
