
.rb-listbox {

    @at-root .listbox- {
        &item {
            margin-bottom: 5px;
            border: 1px solid #333;
            padding: 8px 10px;
            cursor: pointer;
            transition: all 300ms ease-in;
            touch-action: manipulation;

            &.is-selected {
                color: #fff;
                background: #006da0;
            }

            &.is-checked {
                color: #fff;
                background: #00aaff;
            }
        }
    }

}
