//
@mixin rb-util-columns() {

    .u-equal-heights {
        > [class*=u-size-]  {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .u-unequal-height,
    [class*=u-size-].u-unequal-height {
        display: block;
    }

    .u-equal-height,
    [class*=u-size-].u-equal-height {
        display: flex;
        flex-wrap: wrap;
    }
}