// Creates classes to define the visibility of an element
//
// @param {String} $breakpoint-name - Breakpoint name added to end of class (with the exception of all) which responds to assigned screen size.
@mixin rb-util-visibility-hide($breakpoint-name) {
    @if $breakpoint-name == 'all' {
        $type: '';

    } @else {
        $type: $rb-name-separator + $breakpoint-name;
    }

    //Hides element in layout.
    .u#{$rb-name-separator}hide#{$type} {
        display: none !important;
    }

    //Hides content elements visually while still allowing accessibility for assistive technology.
    .u#{$rb-name-separator}visually#{$rb-name-separator}hidden#{$type} {
        @include rb-hide-visually;
    }
}


@mixin rb-util-visibility-show($breakpoint-name) {
    @if $breakpoint-name == 'all' {
        $type: '';

    } @else {
        $type: $rb-name-separator + $breakpoint-name;
    }

    //Hides element in other layout
    .u#{$rb-name-separator}show#{$type} {
        display: none !important;
    }

    .u#{$rb-name-separator}visually#{$rb-name-separator}shown#{$type} {
        @include rb-hide-visually;
    }
}
