// Adds space between columns if "u-size-" is set on element.
//
// @param {List|Number} $gutters - list of horizontal and vertical gutter values (em/px/%).
@mixin rb-util-gutters($breakpoint-name, $gutters) {

    @if $breakpoint-name == 'all' {
        $type: '';
    } @else {
        $type: $rb-name-separator + $breakpoint-name;
    }

    @if type-of($gutters) == 'map' {

        @if map-has-key($gutters, horizontal) {
            $gutter-horizontal: map-get($gutters, horizontal) / 2;
        }
        @if map-has-key($gutters, vertical) {
            $gutter-vertical: map-get($gutters, vertical);
        }

        //Mixin for minus margin on container wrapper
        @mixin rb-gutters-outer($size: null) {

            @if $size == "half" {
                $outergutter: -$gutter-horizontal / 2;
            } @else if( $size == "double") {
                $outergutter: -$gutter-horizontal * 2;
            } @else {
                $outergutter: -$gutter-horizontal;
            }

            margin-left: $outergutter;
            margin-right: $outergutter;
        }

        //Mixin for vertical gutters
        @mixin rb-gutters-horizontal($size: null) {

            @if $size == "half" {
                $horizontalgutter: $gutter-horizontal / 2;
            } @else if( $size == "double") {
                $horizontalgutter: $gutter-horizontal * 2;
            } @else {
                $horizontalgutter: $gutter-horizontal;
            }

            padding-left: $horizontalgutter;
            padding-right: $horizontalgutter;
        }

        //Mixin for horizontal gutters
        @mixin rb-gutters-vertical($size: null) {

            @if $size == "half" {
                $verticalgutter:  $gutter-vertical / 2;
            } @else if( $size == "double") {
                $verticalgutter: $gutter-vertical * 2;
            } @else {
                $verticalgutter: $gutter-vertical;
            }

            margin-bottom: $verticalgutter;
        }

        //Horizontal & vertical gutters
        .u#{$rb-name-separator}gutters {
            @include rb-gutters-outer();

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}] {
                @include rb-gutters-vertical();
                @include rb-gutters-horizontal();
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}half {
            @include rb-gutters-outer(half);

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}] {
                @include rb-gutters-vertical(half);
                @include rb-gutters-horizontal(half);
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}double {
            @include rb-gutters-outer(double);


            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}] {
                @include rb-gutters-vertical(double);
                @include rb-gutters-horizontal(double);
            }
        }

        //Only vertical gutters
        .u#{$rb-name-separator}gutters#{$rb-name-separator}vertical {

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-vertical();
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}vertical#{$rb-name-separator}half {

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-vertical(half);
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}vertical#{$rb-name-separator}double {

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-vertical(double);
            }
        }

        //Only horizontal gutters
        .u#{$rb-name-separator}gutters#{$rb-name-separator}horizontal {
            @include rb-gutters-outer();

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-horizontal();
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}horizontal#{$rb-name-separator}half {
            @include rb-gutters-outer(half);

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-horizontal(half);
            }
        }

        .u#{$rb-name-separator}gutters#{$rb-name-separator}horizontal#{$rb-name-separator}double {
            @include rb-gutters-outer(double);

            > [class*=u#{$rb-name-separator}size#{$rb-name-separator}]  {
                @include rb-gutters-horizontal(double);
            }
        }
    }
}


