<!DOCTYPE html>
 <html class="no-js" lang="de">

    <head>
        {{> meta_data }}
        {{> app_icons }}
        {{> head_assets }}
    </head>
    <body class="rb-page">
        <div class="page-wrapper">
            <header class="page-header" role="banner">
                <div class="page-header-inner use-column-group use-gutters-horizontal">
                    <div class="use-size-auto">
                        <h1><a href="index.html">RawBlock</a></h1>
                    </div>
                </div>
            </header>

            <main class="page-main" id="main-content" role="main" tabindex="-1">
                {{> body }}
            </main>

        </div>

        {{> body_assets}}
    </body>

</html>
