<!DOCTYPE html>
 <html class="no-js" lang="de">

	<head>
		{{> meta_data }}
		{{> app_icons }}
		{{> head_assets }}

	</head>
	<body>
		<div class="rb-page-wrapper">
			{{> rb_page_header }}

			<main class="rb-page-main" id="main-content" role="main" tabindex="-1">
				{{> body }}
			</main>

			{{> rb_page_footer }}
		</div>

		{{> body_assets}}
	</body>

</html>
