<!DOCTYPE html>
 <html class="no-js" lang="de">

	<head>
		{{> meta_data }}
		{{> app_icons }}
		{{> polyfill_script }}
		{{> styles }}
		<link rel="subresource" href="js/body-async.js" />
		<link rel="prefetch" href="js/body-async.js" />

		<!--
		<script src="js/head.js"></script>
		-->
	</head>
	<body>
		<div class="rb-page-wrapper">
			{{> rb_page_header }}

			<main class="rb-page-main" id="main-content" role="main" tabindex="-1">
				{{> body }}
			</main>

			{{> rb_page_footer }}
		</div>

		<script src="js/body-async.js" async=""></script>
	</body>

</html>
