/// Common styles for all panel animations.
///
/// @param {String} $name - component name
/// @param {List} $options - (@see rb_fx_animations) add sub-properties of the animation property to element with key/value, for example $options(delay: 2s, duration: 500ms).
///
@mixin rb-fx-panel-common($name, $options:()) {

    .#{$name}-panel-wrapper {

        &.is-fx > {
            .is-open,
            .is-closing {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .#{$name}-panel {
        @include rb-fx-options($options);
    }
}

/// Predefined animations for panels
///
/// @param {String} $name - component name
/// @param {String} $animation - animation type the panel must use, for example fade or slide.
/// @param {List} $options - (@see rb_fx_animations) add sub-properties of the animation property to element with key/value, for example $options(delay: 2s, duration: 500ms).
///
@mixin rb-fx-panel($name, $animation: '', $options:()){

    // Animations classes
    // --------------------------
    @if $animation == 'fade' {
        &.is-fade {
            @include rb-fx-panel-common($name, $options);

            .#{$name}-panel {
                @include rb-fx-fadeOut((onlyName: true));

                &.is-open {
                    @include rb-fx-fadeIn((onlyName: true));
                }
            }
        }
    }

    @if $animation == 'slide' {
        &.is-slide {
            @include rb-fx-panel-common($name, $options);

            .#{$name}-panel-wrapper {
                &.is-fx > {
                    .is-open {
                        @include rb-fx-slideLeftIn((onlyName: true));
                    }

                    .is-closing {
                        @include rb-fx-slideRightOut((onlyName: true));
                    }
                }

                &[data-direction="up"].is-fx > {
                    .is-open {
                        @include rb-fx-slideRightIn((onlyName: true));
                    }

                    .is-closing {
                        @include rb-fx-slideLeftOut((onlyName: true));
                    }
                }
            }
        }
    }

}
