---
title: Test
layout: csstest_tpl.hbs
---

<style>
    .rb-test * {
        -webkit-transition: none !important;;
        transition: none !important;
    }
</style>

<div id="test-1">
    {{#mergeJSON testdata_test.default}}
        {{> rb_test }}
    {{/mergeJSON}}
</div>

