/*********************************************************

rb-richtext
----------------------------------------------------------

**********************************************************/
.rb-richtext {
    //Global Styles
    width: 100%;

    //Header
    > h1 {
        margin: rb-rem-calc(0 0 25);
        font: 600 55px/64px sans-serif;
        color: #666;
    }

    > h2 {
        margin: rb-rem-calc(0 0 10);
        font: 400 29px/32px sans-serif;
        color: #666;
    }

    > h3 {
        margin: rb-rem-calc(0 0 10);
        font: 400 24px/39px sans-serif;
        color: #666;
    }

    //Paragraph
    p {
        margin: rb-rem-calc(0 0 30);
        font: 400 18px/24px sans-serif;
        color: #666;

        &.is-align-right {
            text-align: right;
        }

        &.is-align-center {
            text-align: center;
        }

        &.is-justify {
            text-align: justify;
        }
    }

    //List
    > ol,
    > ul {
        margin: rb-rem-calc(0 0 30);
        font: 400 18px/24px sans-serif;
        color: #666;
    }

    ul {

        ul,
        ol {
            margin-top: 6px;
        }

        > li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;
            line-height: 24px;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 3px;
                width: rb-rem-calc(6);
                height: 6px;
                border-radius: 50%;
                background: #666;
            }
        }
    }

    ol {
        list-style: decimal;
        margin-left: 25px;

        ul,
        ol {
            margin-top: rb-rem-calc(6);
        }

        > li {
            margin-bottom: rb-rem-calc(10);
        }
    }

    //Different Stylings
    a {
        color: #1a90bb;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .is-underline {
        text-decoration: underline;
    }
    .is-strike {
        text-decoration: line-through;
    }
    strong, b {
        font-weight: 600;
    }

    em, i {
        font-style: italic;
    }

    code {
        border: 1px solid #c1c1c1;
        padding: 3px 7px;
        font-size: 14px;
        color: #008cd5;
        background: #e8e8e8;
    }

    pre {
        border: 1px solid #c1c1c1;
        padding: 12px 10px;
        background: #e8e8e8;
        code {
            border: none;
            padding: 0;
            background: inherit;
        }
    }

    //Mediabox
    .richtext-mediabox {
        position: relative;
        margin: 0 0 20px;

        img {
            width: 100%;
        }

        figcaption {
            position: relative;
            width: 100%;
            padding: rb-rem-calc(10 0);
            font: 400 14px/20px sans-serif;
            color: #aaa;
        }

        .richtext-copyright {
            position: relative;
            margin-left: 5px;
            padding-right: rb-rem-calc(20);
            font-weight: 400;

            &::before {
                content:'- \00a9';
                padding: 0 4px 0 2px;
            }

        }

        &.is-floated-left {
            float: left;
            top: 6px;
            margin: 0;
            padding: 0 20px 20px 0;
        }

        &.is-floated-right {
            float: right;
            top: 6px;
            margin: 0;
            padding: 0 0 20px 20px;
        }
    }

    //Blockquote
    blockquote {
        margin: rb-rem-calc(0 0 40);

        p {
            position: relative;
            font: italic 600 42px/52px serif;
        }

        &::before {
            content: '';
            position: absolute;
            left: -30px;
            width: 100px;
            height: 200px;
            font-size: rb-rem-calc(60);
        }

        cite {
            font-style: normal;
            color: #666;
        }
    }

    //Table
    table {
        width: 100%;
        margin: rb-rem-calc(0 0 30);
    }

    thead {

        tr {
            border-bottom: 2px solid #666;
        }

        th {
            padding: rb-rem-calc(5 20);
            font-size: 16px;
            text-align: left;
            color: #666;
        }
    }

    tbody {

        tr {
            border-bottom: 2px solid #666;
        }

        tr:nth-child(odd) {
            background: #eee;
        }

        tr:nth-child(even) {
            background: #fff;
        }

        td,
        th {
            padding: rb-rem-calc(10 20);
            font-size: 16px;
            line-height: 24px;
        }

        td {
            border-right: 2px solid #666;
            color: #666;

            &:first-child {
                border-left: 2px solid #666;
            }
        }
    }

    tfoot {
        td,
        th {
            padding: rb-rem-calc(10 20);
            font-size: 16px;
            line-height: 24px;
            color: #1a90bb;
        }
    }
}
