/*
 * Component: Richtext
**********************************************************/

// Variables
//**********************************************************
$richtext-header-font: $header-font;
$richtext-header-color: #333;
$richtext-copy-fontsize: 16px;
$richtext-copy-font: $font-sans-serif;
$richtext-copy-color: #333;


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/rb_px_to_units";

//----------------------------------------------------------
.rb-richtext {
    width: 100%;
    font-size: 1rem;
}

//Headers
h1 {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 25);
        font: 600 rb-em-calc(40)/1 $richtext-header-font;
        color: $richtext-header-color;
    }
}

h2 {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 10);
        font: 400 rb-em-calc(32)/1 $richtext-header-font;
        color: $richtext-header-color;
    }
}

h3 {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 10);
        font: 400 rb-em-calc(24)/1 $richtext-header-font;
        color: $richtext-header-color;
    }
}

h4  {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 10);
        font: 400 rb-em-calc(18)/1.2 $richtext-header-font;
        color: $richtext-header-color;
    }
}

h5 {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 10);
        font: 400 rb-em-calc(16)/1.2 $richtext-header-font;
        color: $richtext-header-color;
    }
}

h6 {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 10);
        font: 400 rb-em-calc(14)/1.2 $richtext-header-font;
        color: $richtext-header-color;
    }
}

//Paragraph
p {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 30);
        font: 400 rb-em-calc($richtext-copy-fontsize)/1.5 $richtext-copy-font;
        color: $richtext-copy-color;
    }
}

//Text align
.richtext-align-right {
    text-align: right;
}

.richtext-align-center {
    text-align: center;
}

.richtext-align-justify {
    text-align: justify;
}

.richtext-underline {
    text-decoration: underline;
}

.richtext-strike {
    text-decoration: line-through;
}

//Different Stylings
a {
    .rb-richtext & {
        color: #1a90bb;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

}

strong, b {
    .rb-richtext & {
        font-weight: 600;
    }
}

em, i {
    .rb-richtext & {
        font-style: italic;
    }
}

code {
    .rb-richtext & {
        border: 1px solid #c1c1c1;
        padding: 3px 7px;
        font-size: 14px;
        color: #008cd5;
        background: #e8e8e8;
    }
}

pre {
    .rb-richtext & {
        border: 1px solid #c1c1c1;
        padding: 12px 10px;
        background: #e8e8e8;

        code {
            border: none;
            padding: 0;
            background: inherit;
        }
    }
}

hr {
    .rb-richtext & {
        border: 2px solid #e6e6e6;
        margin-bottom: 20px;
    }
}

//List
> ol,
> ul {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 30);
        font: 400 rb-rem-calc($richtext-copy-fontsize)/1.3 $richtext-copy-font;
        color: $richtext-copy-color;
    }
}

ul {
    .rb-richtext & {
        ul,
        ol {
            margin-top: 6px;
        }

        > li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;
            line-height: 24px;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 3px;
                width: rb-rem-calc(6);
                height: 6px;
                border-radius: 50%;
                background: #666;
            }
        }
    }
}

ol {
    .rb-richtext & {
        list-style: decimal;
        margin-left: 25px;

        ul,
        ol {
            margin-top: rb-rem-calc(6);
        }

        > li {
            margin-bottom: rb-rem-calc(10);
            list-style: decimal;
        }
    }
}

dl {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 0 15px);
    }
}

dt {
    .rb-richtext & {
        font: 600 rb-em-calc($richtext-copy-fontsize)/1.333 $richtext-copy-font;
        color: $richtext-copy-color;
    }
}

dd {
    .rb-richtext & {
        margin: 0;
        font: 400 rb-em-calc($richtext-copy-fontsize)/1.333 $richtext-copy-font;
        color: $richtext-copy-color;
    }
}

//Blockquote
blockquote {
    .rb-richtext & {
        margin: rb-rem-calc(0 0 40);
        border-left: 5px solid #e5e5e5;
        padding: rb-rem-calc(0 0 0 20px);


        p {
            position: relative;
            font: italic 600 42px/52px serif;
        }

        cite {
            font-style: normal;
            color: #666;
        }
    }
}

//Table
table {
    .rb-richtext & {
        width: 100%;
        margin: rb-rem-calc(0 0 30);
    }
}

thead {
    .rb-richtext & {
        tr {
            border-bottom: 2px solid #666;
        }

        th {
            padding: rb-rem-calc(5 20);
            font-size: 16px;
            text-align: left;
            color: #666;
        }
    }
}

tbody {
    .rb-richtext & {
        tr {
            border-bottom: 2px solid #666;
        }

        tr:nth-child(odd) {
            background: #eee;
        }

        tr:nth-child(even) {
            background: #fff;
        }

        td,
        th {
            padding: rb-rem-calc(10 20);
            font-size: 16px;
            line-height: 24px;
        }

        td {
            border-right: 2px solid #666;
            color: #666;

            &:first-child {
                border-left: 2px solid #666;
            }
        }
    }
}

tfoot {
    .rb-richtext & {
        td,
        th {
            padding: rb-rem-calc(10 20);
            font-size: 16px;
            line-height: 24px;
            color: #1a90bb;
        }
    }
}

//Mediabox
.richtext-mediabox {
    position: relative;
    margin: 0 0 20px;

    img {
        width: 100%;
    }

    figcaption {
        position: relative;
        width: 100%;
        padding: rb-rem-calc(10 0);
        font: 400 14px/20px $richtext-copy-font;
        color: #aaa;
    }

    .richtext-copyright {
        position: relative;
        margin-left: 5px;
        padding-right: rb-rem-calc(20);
        font-weight: 400;

        &::before {
            content:'- \00a9';
            padding: 0 4px 0 2px;
        }

    }

    &.is-floated-left {
        float: left;
        top: 6px;
        margin: 0;
        padding: 0 20px 20px 0;
    }

    &.is-floated-right {
        float: right;
        top: 6px;
        margin: 0;
        padding: 0 0 20px 20px;
    }
}
