---
component: rb_richtext
---

<div class="rb-richtext">
	<h1>Header h1</h1>
	{{> paragraph-with-link-richtext }}

	<h2>Header h2</h2>
	{{> paragraph-with-link-richtext }}

	<h2>Unordered List</h2>
	{{> unordered-list-richtext }}

	<h2>Ordered List</h2>
	{{> ordered-list-richtext }}

	<h2>Mix ordered and unordered list</h2>
	{{> mix-ordered-and-unordered-list-richtext }}

	<h2>Mix unordered and ordered list</h2>
	{{> mix-unordered-and-ordered-list-richtext }}

	<h2>Image full</h2>
	{{> image-full-richtext }}

	<h2>Align image Left</h2>
	{{> align-image-left-richtext }}

	<h2>Align Image Right</h2>
	{{> align-image-right-richtext }}

	<h2>Diffenrent Styling</h2>
	{{> different-stylings-richtext }}

	<h2>Text align Left (default)</h2>
	{{> paragraph-richtext }}

	<h2>Text align right</h2>
	{{> paragraph-align-right-richtext }}

	<h2>Text align center</h2>
	{{> paragraph-align-center-richtext }}

	<h2>Text align justify</h2>
	{{> paragraph-align-justify-richtext }}

	<h2>Blockquote</h2>
	{{> blockquote-richtext }}

	<h2>Table</h2>
	{{> table-4col-richtext }}
</div>
