---
title: Richtext
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group">
            <div class="use-size-100">
                <article class="rb-docs">
                    <h1 class="docs-title">{{ title }}</h1>
                    <p class=docs-intro>Component richtext creates styling for formatted text that mainly has no additonal style classes.
                        Like markup created by a text/wysiwyg editor. </p>
{{#markdown}}
##Usage
To create a richtext component, add the class `.rb-richtext` to a container element and add your markup inside it.
{{/markdown}}

                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <article class="rb-richtext">
        ...
    </article>
{{/markdown}}
                    </div>
{{#markdown}}
##Headings
To define headings use `<h1>` to `<h6>` elements.
{{/markdown}}

                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Example</h3>

                        <div class="rb-richtext">
{{#markdown}}
#This is heading h1
##This is heading h2
###This is heading h3
####This is heading h4
#####This is heading h5
######This is heading h6
{{/markdown}}
                        </div>
                     </div>
                    <hr>
{{#markdown}}
##Paragraphs
To define paragraphs use `<p>` element.
{{/markdown}}
                <div class="docs-example is-demo">
                    <h3 class="docs-example-title">Example</h3>

                    <div class="rb-richtext">
                        <p>This is a paragraph.  Paragraphs are usually represented in visual media by blocks of text that are  separated from adjacent blocks by vertical blank space or first-line indention</p>
                        <p>This is a paragraph.  Paragraphs are usually represented in visual media by blocks of text that are  separated from adjacent blocks by vertical blank space or first-line indention</p>

                    </div>
                </div>
                <hr>

{{#markdown}}
##Text level semantics
The following shows some commonly used text-level semantics or inline text element and how to use them.
{{/markdown}}
                <div class="docs-example is-demo">
                    <h3 class="docs-example-title">Text Elements</h3>
                    <div class="rb-richtext">


{{#markdown}}

`<a>` element: Turns text into a link using the => <a href="#">a element</a>.

`<em>` element: Emphasize text using the => <em>em element</em>.

`<strong>` element: Gives text extra importance using the => <strong>strong element</strong>.

`<sup>` element: Superscript the text higher and smaller using the => <sup>sub element</sup>.

`<sub>` element: Subscript the text lower and smaller using the => <sub>sub element</sub>.

`<small>` element: De-emphasize text for small print using the  => <small>small element</small>.

`<code>` element: Define inline code snippets using the => <code>code element</code>.

`<del>` element: Mark document changes as deleted using the => <del>code element</del>.

`<ins>` element: Mark document changes as inserted text using the => <ins>code element</ins>.

`<mark>` element: Highlicht text with no semantic meaning using the => <mark>mark element</mark>.

`<q>` element: Define inline quotations using the => <q>q element inside <q>q</q> element</q>.

`<abbr>` element: Define an abbreviation using the => <abbr title="Abbreviation Element">abbr element</abbr> with title attribute.

`<dfn>` element: Define a defintion term using the => <def title="Definition Element">def element</def> with title attribute.


{{/markdown}}
                    </div>
                </div>


{{#markdown}}
##Text align
Align text by adding `.richtext-align-*` to an element (for example `<p>`, `<li`> or `<h2>` ect). Text default alignment is left.
{{/markdown}}
                    <div class="docs-example">
                        <h3 class="docs-example-title">Classes</h3>
{{#markdown}}
| Class name | Description
| ------------- |-------------|
| `.richtext-align-left`  |Text is aligned left|
| `.richtext-align-right`  |Text is aligned right|
|`.richtext-align-center`| Text is aligned center.  |
| `.richtext-align-justify` | Text is aligned justify |
{{/markdown}}
                        </div>

                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Demo</h3>

                        <div class="rb-richtext">
                            <p class="richtext-align-left">Paragraph text is aligned left</p>
                            <p class="richtext-align-right">Paragraph text is aligned right</p>
                            <p class="richtext-align-center">Paragraph text is aligned center</p>
                            <p class="richtext-align-justify">Paragraph text is aligned justify</p>
                        </div>
                    </div>
                    <div class="docs-exampl">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <p class="richtext-align-left">...</p>
    <p class="richtext-align-right">...</p>
    <p class="richtext-align-center">...</p>
    <p class="richtext-align-justify">...</p>
{{/markdown}}
                    </div>

                    <hr>

{{#markdown}}
##List
Display content in a list. Create an unordered list using the `<ul>` and ordered list using `<ol>`.
Inside create an list item with `<li>` element.
{{/markdown}}

            <div class="use-column-group use-gutters-horizontal">
                <div class="use-size-50">
                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Unordered List</h3>

                        <div class="rb-richtext">
                            <ul>
                                <li>Level 1</li>
                                <li>...
                                    <ul>
                                        <li>Level 2</li>
                                    </ul>
                                </li>
                                <li>...
                                    <ol>
                                        <li>Level 2</li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <ul>
        <li>Level 1</li>
        <li>...
            <ul>
                <li>Level 2</li>
            </ul>
        </li>
        <li>...
            <ol>
                <li>Level 2</li>
            </ol>
        </li>
    </ul>
{{/markdown}}
                    </div>
                </div>
                <div class="use-size-50">
                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Ordered List</h3>

                        <div class="rb-richtext">
                            <ol>
                                <li>Level 1</li>
                                <li>...
                                    <ul>
                                        <li>Level 2</li>
                                    </ul>
                                </li>
                                <li>...
                                    <ol>
                                        <li>Level 2</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <ol>
        <li>Level 1</li>
        <li>...
            <ul>
                <li>Level 2</li>
            </ul>
        </li>
        <li>...
            <ol>
                <li>Level 2</li>
            </ol>
        </li>
    </ol>
{{/markdown}}
                    </div>
                </div>
            </div>
        <hr>
{{#markdown}}
##Description Lists
Creates a association list `<dl>` of name-value groups. A name-value group consist out of a name `<dt>` and one or more values `<dd>`.
{{/markdown}}
                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Demo</h3>

                        <div class="rb-richtext">
                            <dl>
                                <dt>Berlin</dt>
                                <dd>Is the capital of Germany and one of the 16 states of Germany.</dd>
                                <dt>Amsterdam</dt>
                                <dd>Is the capital city and most populous city of the Kingdom of the Netherlands.</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <blockquote>
        <p>Your Content</p>
        <cite>Your source</cite>
    </blockquote>
{{/markdown}}
                    </div>

                    <hr>
{{#markdown}}
##Blockquote
Quote content from a different source inside your document with the `<blockquote>` element.
{{/markdown}}
                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Demo</h3>

                        <div class="rb-richtext">
                            <blockquote>
                                <p>Your great sentence here</p>
                                <cite>Your Source</cite>
                            </blockquote>
                        </div>
                    </div>
                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <blockquote>
        <p>Your Content</p>
        <cite>Your source</cite>
    </blockquote>
{{/markdown}}
                    </div>

                    <hr>
{{#markdown}}
##Code blocks
Use the `<pre>` element if you want to display formatted content (such as source code). A new
textblock is created that preserves tab indents, double-spaces, newlines, and other typographic formatting.
{{/markdown}}

                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <pre>
       <code>...</code>
    </pre>
{{/markdown}}
                    </div>

                    <hr>
{{#markdown}}
##Tables
Use tables if you want to arrange data.
{{/markdown}}

                    <div class="docs-example is-demo">
                        <h3 class="docs-example-title">Demo</h3>

                        <div class="rb-richtext">
                            <table>
                                <thead>
                                <tr>
                                    <th><strong>Title 1</strong></th>
                                    <th><strong>Title 2</strong></th>
                                    <th><strong>Title 3</strong></th>
                                    <th><strong>Title 4</strong></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <td>Footer of table</td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td><a href="#">Ipsum dolor amet,</a> consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td><span class="underline">Ipsum dolor amet</span>, consetetu sadipsci elitr, sed diam</td>
                                </tr>
                                <tr>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                </tr>
                                <tr>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                    <td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="docs-example">
                        <h3 class="docs-example-title">Code</h3>
{{#markdown}}
    <table>
        <thead>
            <tr>
                <th>...</th>
                ...
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>...</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>...</td>
                ...
            </tr>
            ...
        </tbody>
    </table>
{{/markdown}}
                    </div>

                </article>


            </div>
        </div>
    </div>

</section>
