---
title: Richtext Page
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group">
            <div class="use-size-100">
                <article class="rb-docu">
{{#markdown}}
#rb-richtext
<p class=docu-intro>Richtext creates styling for formatted text that mainly has no additonal style classes.
Like markup created by a text/wysiwyg editor. </p>

##Usage
To create a richtext component, add the class `.rb-richtext` to a container element and add your markup inside it.
{{/markdown}}

                    <div class="docu-example">
                        <h3 class="docu-example-title">Code</h3>
{{#markdown}}
    <article class="rb-richtext">
        ...
    </article>
{{/markdown}}
                    </div>

{{#markdown}}
##Text align
Align text by adding align class to an element. Default value of text is left align.
{{/markdown}}
                    <div class="docu-example">
                        <h3 class="docu-example-title">Classes</h3>
{{#markdown}}
| Class name | Description
| ------------- |-------------|
| `.richtext-align-right`  |Text is aligned right|
|`.richtext-align-center`| Text is aligned center.  |
| `.richtext-align-justify` | Text is aligned justify |
{{/markdown}}
                        </div>

                    <div class="docu-example is-demo">
                        <h3 class="docu-example-title">Demo</h3>

                        <div class="rb-richtext">
                            <h3>Text align Left (default)</h3>
                            {{#with rb_richtext.default}}
                                <p>{{this}}</p>
                            {{/with}}

                            <h3>Text align right</h3>
                            {{#with rb_richtext.default}}
                                <p class="richtext-align-right">{{this}}</p>
                            {{/with}}

                            <h3>Text align center</h3>
                            {{#with rb_richtext.default}}
                                <p class="richtext-align-center">{{this}}</p>
                            {{/with}}

                            <h3>Text align justify</h3>
                            {{#with rb_richtext.default}}
                                <p class="richtext-align-justify">{{this}}</p>
                            {{/with}}
                        </div>
                    </div>
                    <div class="docu-exampl">
                        <h3 class="docu-example-title">Code</h3>
{{#markdown}}
    <p class="richtext-align-right">Paragraph text here...</p>
    <p class="richtext-align-center">Paragraph text here...</p>
    <p class="richtext-align-justify">Paragraph text here...</p>
{{/markdown}}
                    </div>

                    <hr>

                    <h2>Headings</h2>
{{#markdown}}
    <h1>This is heading h1</h1>
    <h2>This is heading h2</h2>
    <h3>This is heading h3</h3>
    <h4>This is heading h4</h4>
    <h5>This is heading h5</h5>
    <h6>This is heading h6</h6>
{{/markdown}}
                    <h1>This is heading h1</h1>
                    <h2>This is heading h2</h2>
                    <h3>This is heading h3</h3>
                    <h4>This is heading h4</h4>
                    <h5>This is heading h5</h5>
                    <h6>This is heading h6</h6>

                    <hr>

                    <h2>Lists</h2>

                </article>


            </div>
        </div>
    </div>
</section>
