---
title: Richtext Page
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group">
            <div class="use-size-100">

            </div>
        </div>

        {{> rb_richtext }}
    </div>
</section>
