/*********************************************************

rb-scrolly
----------------------------------------------------------

**********************************************************/
$scrollyJSCFG: (
	switchedOff: false,
	from: '-90eh',
	to: '100vh-10eh',
	once: false,
	restSwitchedOff: true,
	childSel: 'find(.scrolly-element)',
	throttleDelay: 0,
);

.rb-scrolly {
	//@include exportToJS($scrollyJSCFG);

	position: relative;
	background: #999;
	height: 100px;

	/* performance: try this or the following */
	backface-visibility: hidden;

	//&.is-in-scrollrange {
	//	&,
	//	.scrolly-element {
	//		backface-visibility: hidden;
	//	}
	//}

	&.is-simple-example {
		width: 10%;
		margin: auto;
		transition: all 600ms;

		&.is-in-scrollrange {
			width: 80%;
			transform: rotate(360deg);
			transition-delay: 100ms;
		}
	}

	&.is-in-scrollrange {
		background: #f00;
	}

	&.is-complex-scrolly {

		height: 250px;
		background: #333;
		transition: 99ms opacity, 99ms top;

		.scrolly-1 {
			@include exportToJS((
				opacity: 1,
				top: 0,
			));

			position: relative;
			top: 280px;
			opacity: 0;
			color: #fff;
		}

		.scrolly-2 {
			@include exportToJS((
				right: 180,
				bottom: 0,
				backgroundColor: 'rgba(200, 230, 0, 0.4)',
				transform: (
					value: 'rotate(30deg)',
					start: 'rotate(0deg)',
				),
				from: 0.3,
				to: 0.9,
				easing: '(0.175, 0.885, 0.320, 1.275)',
			));

			position: absolute;
			bottom: 100px;
			right: 0;
			width: 100px;
			height: 100px;
			background: #f00;
			transition: 50ms background-color, 50ms transform, 50ms right, 50ms bottom;
		}
	}

}
