/*
 * Component: Scrolly
**********************************************************/


// Variables
//**********************************************************


// JS-Config
//**********************************************************
$scrolly-js-cfg: (
	switchedOff: false,
	from: "-90eh",
	to: "100vh-10eh",
	once: false,
	restSwitchedOff: true,
	childSel: "find(.scrolly-element)",
	throttleDelay: 0,
);


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/rb_px_to_units";


//----------------------------------------------------------


.rb-scrolly {
    @include rb-js-export($scrolly-js-cfg);
    position: relative;
    height: 100px;
    /* performance: try this or the following */
    backface-visibility: hidden;
    background: #999;

    //&.is-in-scrollrange {
    //	&,
    //	.scrolly-element {
    //		backface-visibility: hidden;
    //	}
    //}

    &.is-simple-example {
        width: 10%;
        margin: auto;
        transition: all 600ms;

        &.is-in-scrollrange {
            width: 80%;
            transition-delay: 100ms;
            transform: rotate(360deg);
        }
    }

    &.is-in-scrollrange {
        background: #f00;
    }

    &.is-complex-scrolly {
        height: 250px;
        background: #333;
        transition: 99ms opacity, 99ms top;

        .scrolly-1 {
            @include rb-js-export((
				opacity: 1,
				top: 0,
			));
            position: relative;
            top: 280px;
            opacity: 0;
            color: #fff;
        }

        .scrolly-2 {
            @include rb-js-export((
				right: 180,
				bottom: 0,
				backgroundColor: "rgba(200, 230, 0, 0.4)",
				transform: (
					value: "rotate(30deg)",
					start: "rotate(0deg)",
				),
				from: 0.3,
				to: 0.9,
				easing: "(0.175, 0.885, 0.320, 1.275)",
			));
            position: absolute;
            right: 0;
            bottom: 100px;
            width: 100px;
            height: 100px;
            background: #f00;
            //transition: 50ms background-color, 50ms transform, 50ms right, 50ms bottom;
        }
    }
}
