<!DOCTYPE html>
 <html class="no-js" lang="de">
    <head>
        {{> meta_data }}
        {{> app_icons }}
        {{> head_assets }}
    </head>
    <body class="rb-page">
        <div class="page-wrapper">
            <header class="page-header" role="banner">
                <div class="page-header-inner u-column-group u-gutters-horizontal">
                    <div class="u-size-auto">
                        <h1><a href="index.html">RawBlock</a></h1>
                    </div>
                </div>
            </header>

            <div class="page-section">
                <div class="page-section-inner u-offset-center u-grid-maxwidth">
                    <div class="u-column-group u-gutters">
                        <div class="u-size-20">
                            <ul>
                                {{#each pages }}
                                    {{#contains basename "_page"}}
                                        <li><a href ="{{ basename }}.html">{{data.title}}</a></li >
                                    {{/contains}}
                                {{/each  }}
                            </ul>
                        </div>
                        <div class="u-size-80">
                            <main class="page-main" id="main-content" role="main" tabindex="-1">
                                {{> body }}
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> body_assets}}
    </body>

</html>
