<!DOCTYPE html>
 <html class="no-js" lang="de">
    <head>
        {{> meta_data }}
        {{> app_icons }}
        {{> head_assets }}

        <style>
            .rb-docs {
                width: 100%; }
            .rb-docs > h1 {
                margin: 0 0 1.25rem;
                font: 600 2.75em/2.75rem sans-serif;
                color: #c6146e; }
            .rb-docs > h2 {
                margin: 0 0 0.625rem;
                font: 400 29px/32px sans-serif;
                color: #c6146e; }
            .rb-docs > h3 {
                margin: 0 0 0.625rem;
                font: 400 24px/39px sans-serif;
                color: #c6146e; }
            .rb-docs p {
                margin: 0 0 1.25rem;
                font: 400 16px/20px sans-serif;
                color: #666; }
            .rb-docs .is-align-right {
                text-align: right; }
            .rb-docs .is-align-center {
                text-align: center; }
            .rb-docs .is-justify {
                text-align: justify; }
            .rb-docs > ol,
            .rb-docs > ul {
                margin: 0 0 1.875rem;
                font: 400 16px/20px sans-serif;
                color: #666; }
            .rb-docs > ul ul,
            .rb-docs > ul ol {
                margin-top: 6px; }
            .rb-docs > ul > li {
                position: relative;
                margin-bottom: 10px;
                padding-left: 20px;
                line-height: 24px; }
            .rb-docs > ul > li::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 3px;
                width: 0.375rem;
                height: 6px;
                border-radius: 50%;
                background: #666; }
            .rb-docs ol {
                list-style: decimal;
                margin-left: 25px; }
            .rb-docs ol ul,
            .rb-docs ol ol {
                margin-top: 0.375rem; }
            .rb-docs ol > li {
                margin-bottom: 0.625rem; }
            .rb-docs > p > a,
            .rb-docs > li > a {
                color: #1a90bb; }
            .rb-docs > p > a:hover, .rb-docs > p > a:focus,
            .rb-docs > li > a:hover,
            .rb-docs > li > a:focus {
                text-decoration: underline; }
            .rb-docs .is-underline {
                text-decoration: underline; }
            .rb-docs .is-strike {
                text-decoration: line-through; }
            .rb-docs strong, .rb-docs b {
                font-weight: 600; }
            .rb-docs em, .rb-docs i {
                font-style: italic; }
            .rb-docs code {
                border: 1px solid #f1f1f1;
                padding: 2px 3px;
                font-size: 13px;
                font-weight: 400;
                color: #c61414;
                background: #f9f9f9; }
            .rb-docs pre {
                margin: 0 0 20px;
                border: 1px solid #f1f1f1;
                padding: 12px 10px;
                background: #f9f9f9; }
            .rb-docs pre code {
                border: none;
                padding: 0;
                background: inherit; }
            .rb-docs hr {
                border: 2px solid #e6e6e6;
                margin-bottom: 20px; }
            .rb-docs table {
                width: 100%;
                margin: 0 0 1.875rem;
                border: 1px solid #f1f1f1;
                background: #f9f9f9; }
            .rb-docs thead tr {
                border-bottom: 1px solid #d6d6d6; }
            .rb-docs thead th {
                padding: 0.625rem 1.25rem;
                font-size: 1.125em;
                text-align: left;
                color: #666; }
            .rb-docs tbody tr {
                border-bottom: 1px solid #d6d6d6; }
            .rb-docs tbody tr:nth-child(odd) {
                background: #eee; }
            .rb-docs tbody td,
            .rb-docs tbody th {
                padding: 0.625rem 1.25rem;
                font-size: 16px;
                line-height: 24px; }
            .rb-docs tbody td {
                color: #666; }
            .rb-docs .docs-intro {
                margin-bottom: 1.5625em;
                font-size: 1.125em;
                line-height: 1.375em;
                font-weight: 600; }
            .rb-docs .docs-example {
                display: block !important;
                position: relative;
                margin-bottom: 2.5em;
                border: 1px solid #f1f1f1;
                padding: 20px 20px 10px;
                background: #c7d9e0; }
            .rb-docs .docs-example:nth-child(2n+1) {
                border-top: none; }
            .rb-docs .docs-example-title {
                display: block !important;
                position: relative;
                z-index: 2;
                margin: 0 0 -6px 20px;
                font-size: 1.875em;
                color: #dbdbdb; }
            .rb-docs .docs-example-1-title {
                position: relative;
                z-index: 2;
                margin: 0 0 -6px 20px;
                font-size: 1.875em;
                font-weight: 600;
                color: #dbdbdb; }
            .rb-docs .docs-demo-title {
                margin-bottom: 10px;
                width: 100%;
                color: #555; }
            .rb-docs .docs-gutters > [class*=use-size-] {
                padding-right: 10px;
                margin-bottom: 10px; }
            .rb-docs .docs-item {
                position: relative;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                border: 1px solid #aaa;
                height: 150px;
                color: #444;
                background: #dbdbdb;
                z-index: 2; }
            .rb-docs .docs-info {
                margin-bottom: 20px;
                padding: 20px 20px 10px;
                border-left: 10px solid #008cd5; }
            .rb-docs .docs-info p {
                font-size: 15px;
                margin-bottom: 10px; }
            .rb-docs br {
                display: none; }
        </style>
    </head>
    <body class="rb-page">
        <div class="page-wrapper">
            <header class="page-header" role="banner">
                <div class="page-header-inner use-column-group use-gutters-horizontal">
                    <div class="use-size-auto">
                        <h1><a href="index.html">RawBlock</a></h1>
                    </div>
                </div>
            </header>

            <div class="page-section">
                <div class="page-section-inner">
                    <div class="use-column-group use-gutters">
                        <div class="use-size-20">
                            <ul>
                                {{#each pages }}
                                    {{#isnt basename "index"}}
                                        <li><a href ="{{ basename }}.html">{{data.title}}</a></li >
                                    {{/isnt}}
                                {{/each  }}
                            </ul>
                        </div>
                        <div class="use-size-80">
                            <main class="page-main" id="main-content" role="main" tabindex="-1">
                                {{> body }}
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> body_assets}}
    </body>

</html>
