---
title: Animation Demo Page
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">
        <form id="anim-config">
            <div>
                <select name="anim-in">
                    <option value="">none</option>
                    <option>fadeIn</option>
                    <option>slideLeftIn</option>
                    <option>slideRightIn</option>
                    <option>slideTopIn</option>
                    <option>slideBottomIn</option>
                    <option>rotateIn</option>
                    <option>flip</option>
                    <option>flipInX</option>
                </select>
            </div>
            <div>
                <select name="anim-out">
                    <option value="">none</option>
                    <option>fadeOut</option>
                    <option>slideLeftOut</option>
                    <option>slideRightOut</option>
                    <option>slideTopOut</option>
                    <option>slideBottomOut</option>
                    <option>rotateOut</option>
                    <option>flip</option>
                    <option>flipOutX</option>
                </select>
            </div>
        </form>
        <script>
            document.querySelector('#anim-config').addEventListener('change', function(){
                rb.$(this.elements).each(function(){
                    var name = this.name;
                    var value = this.value;

                    if(name){
                        rb.root.setAttribute('data-'+ name, value || '');
                    }
                });
            });
        </script>
        <button type="button" data-module="button" class="js-click" data-target="$(.rb-dialog)">open dialog</button>
        {{> rb_dialog }}

        {{> rb_tabs}}
    </div>
</section>
