---
title: Animation Demo Page
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters-horizontal">
            <div class="use-size-80">
                <article class="rb-docu">
{{#markdown}}
#Animations

{{/markdown}}
                    <form id="anim-config">
                        <div>
                            <select name="anim-in">
                                <option value="">none</option>
                                <!--<option>bounce</option>-->
                                <!--<option>flash</option>-->
                                <!--<option>headShake</option>-->
                                <!--<option>jello</option>-->
                                <!--<option>rubberBand</option>-->
                                <!--<option>shake</option>-->
                                <!--<option>swing</option>-->
                                <!--<option>tada</option>-->
                                <!--<option>wobble</option>-->

                                <option>fadeIn</option>
                                <option>slideLeftIn</option>
                                <option>slideRightIn</option>
                                <option>slideTopIn</option>
                                <option>slideBottomIn</option>
                                <option>slideLeftInSmall</option>
                                <option>slideRightInSmall</option>
                                <option>slideTopInSmall</option>
                                <option>slideBottomInSmall</option>
                                <option>rotateIn</option>
                                <option>flip</option>
                                <option>flipInX</option>
                                <option>flipInY</option>
                                <option>zoomIn</option>
                                <option>zoomInSmall</option>
                                <option>zoomInUp</option>
                                <option>zoomInRight</option>
                                <option>zoomInDown</option>
                                <option>zoomInLeft</option>
                            </select>
                        </div>
                        <div>
                            <select name="anim-out">
                                <option value="">none</option>
                                <!--<option>bounce</option>-->
                                <!--<option>flash</option>-->
                                <!--<option>headShake</option>-->
                                <!--<option>jello</option>-->
                                <!--<option>rubberBand</option>-->
                                <!--<option>shake</option>-->
                                <!--<option>swing</option>-->
                                <!--<option>tada</option>-->
                                <!--<option>wobble</option>-->

                                <option>fadeOut</option>
                                <option>slideLeftOut</option>
                                <option>slideRightOut</option>
                                <option>slideTopOut</option>
                                <option>slideBottomOut</option>
                                <option>slideLeftOutSmall</option>
                                <option>slideRightOutSmall</option>
                                <option>slideTopOutSmall</option>
                                <option>slideBottomOutSmall</option>
                                <option>rotateOut</option>
                                <option>flip</option>
                                <option>flipOutX</option>
                                <option>flipOutY</option>

                                <option>zoomOut</option>
                                <option>zoomOutSmall</option>
                                <option>zoomOutUp</option>
                                <option>zoomOutRight</option>
                                <option>zoomOutDown</option>
                                <option>zoomOutLeft</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" data-module="button" class="js-click" data-target="$(.rb-dialog)">open dialog</button>

                    {{> rb_dialog }}

                    {{> rb_tabs}}
                </article><!-- end rb-docu -->
            </div>
        </div>


        <script>
            document.querySelector('#anim-config').addEventListener('change', function(){
                rb.$(this.elements).each(function(){
                    var name = this.name;
                    var value = this.value;

                    if(name){
                        rb.root.setAttribute('data-'+ name, value || '');
                    }
                });
            });
        </script>

    </div>
</section>
