/*********************************************************
*
*    rb-page-footer
*
*
**********************************************************/

.rb-page-footer {
	width: 100%;

	@at-root {
		.page-footer- {

			&inner {
				max-width: 1240px;
				margin: 0 auto;
				padding: 0 20px;
			}
		}
	}
}