/*
 * Component: Tabs
**********************************************************/


// Variables
//**********************************************************


// JS-Config
//**********************************************************
$tabs-js-cfg: (
    name: tabs,
    //animation: 'adaptHeight',
    duration: 400,
);


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/utils/rb_px_to_units";
@import "../../sass/helpers/animations/rb_fx_panel";


//----------------------------------------------------------


.rb-tabs {
    @include rb-js-export($tabs-js-cfg);
    @include rb-fx-panel(tabs, fade);
    @include rb-fx-panel(tabs, slide);
    width: 100%;
    margin: auto;
}

//Buttons
.tabs-nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tabs-item {
    flex: 1;
    margin: 0 0 -1px 1px;
    text-align: center;

    &:first-child {
        margin-left: 0;
    }
}

.tabs-btn {
    position: relative;
    width: 100%;
    padding: 10px;
    touch-action: manipulation;
    border: none;
    border-top: 3px solid transparent;
    background: #e7e7e7;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        background: #dfdfdf;
    }

    &:disabled {
        z-index: 10;
        border-color: #dc0f6e;
        background: #fff;
    }
}

.tabs-panel-wrapper {
    position: relative;
    background: #fff;
}

.tabs-panel {
    display: none;

    &.is-open {
        display: block;
    }
}

.tabs-content {
    padding: 20px;
}
