/*********************************************************

rb-tabs
----------------------------------------------------------

**********************************************************/
$tabsJSCFG: (
    watchCss: false,
    animation: 'adaptHeight',
    duration: 600,
);

.rb-tabs {
    @include rb-js-export($tabsJSCFG);
    width: 100%;
    margin: auto;

    @at-root .tabs- {

        //Buttons
        &nav {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }

        &nav-item {
            flex: 1;
            margin: 0 0 -1px 1px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }
        }

        &btn {
            width: 100%;
            position: relative;
            border: none;
            border-top: 3px solid transparent;
            padding: 10px;
            background: #e7e7e7;

            &:hover:not(:disabled),
            &:focus:not(:disabled) {
                background: #dfdfdf;
            }

            &:disabled {
                border-color: #dc0f6e;
                z-index: 10;
                background: #fff;
            }
        }

        //Panels
        &panel-wrapper {
            position: relative;

            &.is-fx > {
                .is-open,
                .is-closing {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        &panel {
            @include rb-fx-options($options:());
            display: none;
            background: #fff;

            &.is-open {
                display: block;
            }
        }

        &content {
            padding: 20px;
        }
    }

    // Animations
    // --------------------------
    &.is-fade {
        .tabs-panel {
            @include rb-fx-fadeOut((onlyName: true));

            &.is-open {
                @include rb-fx-fadeIn((onlyName: false));
            }
        }
    }


    &.is-slide {
        .tabs-panel-wrapper {
            &.is-fx > {
                .is-open {
                    @include rb-fx-slideLeftIn((onlyName: true));
                }

                .is-closing {
                    @include rb-fx-slideRightOut((onlyName: true));
                }
            }

            &[data-direction="up"].is-fx > {
                .is-open {
                    @include rb-fx-slideRightIn((onlyName: true));
                }

                .is-closing {
                    @include rb-fx-slideLeftOut((onlyName: true));
                }
            }
        }
    }


}


