/*********************************************************

rb-tabs
----------------------------------------------------------

**********************************************************/
$tabsJSCFG: (
    watchCss: false,
    animation: 'adaptHeight',
    duration: 500,
);

.rb-tabs {
    @include rb-js-export($tabsJSCFG);
    width: 100%;
    margin: auto;

    @at-root .tabs- {

        //Buttons
        &nav {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }

        &nav-item {
            list-style: none;
        }

        //Buttons
        &panel-wrapper {
            position: relative;
        }

        &panel {
            display: none;

            .is-fx > &.is-open,
            .is-fx > &.is-closing {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
            }

            &.is-open {
                display: block;
            }

            //Animation fadein / fadeout
            .rb-tabs.is-fade & {
                @include rb-fx-fadeOut();

                &.is-open {
                    @include rb-fx-fadeIn((onlyName: true));
                }
            }

            .rb-tabs.is-slide & {
                animation-name: none;
            }
        }

        &content {
            padding: 20px;
        }




    }




    &.is-slide .tabs-panel-wrapper {

        .tabs-panel {

        }

        &.is-fx > .tabs-panel.is-open {
            @include rb-fx-slideLeftIn((onlyName: true));
        }

        &.is-fx > .tabs-panel.is-closing {
            @include rb-fx-slideRightOut((onlyName: true));
        }

        &[data-direction="up"].is-fx > .tabs-panel.is-open {
            @include rb-fx-slideRightIn((onlyName: true));
        }

        &[data-direction="up"].is-fx > .tabs-panel.is-closing {
            @include rb-fx-slideLeftOut((onlyName: true));
        }
    }
}


