---
title: Tabs
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters-horizontal">
            <div class="use-size-80">
                <article class="rb-docu">
                    <h1 class="docu-title">{{ title }}</h1>
                    {{#with rb_tabs.default}}
                        {{> rb_tabs }}
                    {{/with}}

                </article><!-- end rb-docu -->
            </div>
        </div>

    </div>
</section>
