$rb-name-separator: "-";

// mediaqueries has to be ordered from none (all), smallest to largest!
$breakpoint-config: (
    all: (
        gutter: (
            vertical: 40px,
            horizontal: 40px
        ),
        order-size: 5,
        grid-max-width: 940px
    ),
    s: (
        media: "(max-width: 568px)",
        gutter: (
            vertical: 10px,
            horizontal: 10px
        )
    ),
    m: (
        media: "(min-width: 569px) and (max-width: 1239px)",
        order-size: 2
    ),
    l: (
        media: "(min-width: 1240px)",
    ),
);
$aside-breakpoints: ();

