
<table>
	<thead>
		<tr>
			<th><strong>Title 1</strong></th>
			<th><strong>Title 2</strong></th>
			<th><strong>Title 3</strong></th>
			<th><strong>Title 4</strong></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>Footer of table</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td><a href="#">Ipsum dolor amet,</a> consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td><span class="underline">Ipsum dolor amet</span>, consetetu sadipsci elitr, sed diam</td>
		</tr>
		<tr>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
		</tr>
		<tr>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
		</tr>
	</tbody>
</table>

