@mixin rb-fx-($options: ()) {
    $animation-name: fxName;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                //keyframedefinition
            }
        }
    }
}
