/*
 * Component: Accordion
**********************************************************/



// settings
//**********************************************************



// JS Config
//**********************************************************
$accordion-js-cfg: (
    name: accordion,
    multiple: false,
    selectedIndex: -1,
    toggle: true,
    adjustScroll: 10,
    animation: "slide",
);

//----------------------------------------------------------


.rb-accordion {
    @include rb-js-export($accordion-js-cfg);
    width: 100%;
}

.accordion-btn {
    display: block;
    width: 100%;
    padding: rb-em-calc(20);
    text-align: left;
    touch-action: manipulation;
    border: none;
    border-bottom: 1px solid #aaa;
    background: #e6e6e6;

    &:hover,
    &:focus {
        background: #ddd;;
    }
}

.accordion-panel {
    @include rb-clearfix;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    opacity: 0;
    background: #f7f7f7;
    transition: opacity 400ms, visibility 400ms;

    &.is-open {
        visibility: inherit;
        overflow: visible;
        height: auto;
        opacity: 1;
    }
}

.accordion-content {
    padding: 20px 20px 0;
}

.accordion-controls {
    margin-bottom: rb-em-calc(15);
}

.accordion-ctrl-btn {
    padding: rb-em-calc(7 10);
    touch-action: manipulation;
    border: none;
    transition: background 300ms ease-in;

    &:hover,
    &:focus {
        background: #777;
    }
}


@media (max-width: 500px) {
    .rb-accordion {
        @include rb-js-export(map_merge($accordion-js-cfg, (
            switchedOff: true
        )));
    }

    .accordion-panel {
        visibility: visible;
        overflow: visible;
        height: auto;
        opacity: 1;
    }
}
