<div class="selectlist js-rb-live" data-module="selectlist">
    <div class="selectlist-panelgroup" role="group" aria-label="Auswahlliste">
        <button class="selectlist-panelgroup-btn" type="button" aria-haspopup="true">
            <span class="checklist-value">Auswählen</span>
        </button>
        <div class="selectlist-panelgroup-panel">
            <div class="selectlist-listbox">
                <span class="selectlist-listbox-item">Option 1</span>
                <span class="selectlist-listbox-item">Option 2</span>
                <span class="selectlist-listbox-item">Option 3</span>
                <span class="selectlist-listbox-item">Option 4</span>
                <span class="selectlist-listbox-item">Option 5</span>
            </div>
        </div>
    </div>
</div>
