<ul class="shrinknav {{#if isGrow}}is-grow{{/if}} js-rb-live" data-module="shrinknav">
    <li class="shrinknav-item">Item Lorem Ipsum 1</li>
    <li class="shrinknav-item" data-priority="-1">Item lorem Bla blun 2</li>
    <li class="shrinknav-item">Item some longer Text 3</li>
    <li class="shrinknav-item">Item 4</li>
    <li class="shrinknav-item" data-priority="1">Item 5</li>
    <li class="shrinknav-item">Item some longer Text 6</li>
    <li class="shrinknav-item is-toggle-item js-rb-click" data-module="panelgroup">
        <button type="button" class="panelgroup-btn">⋮</button>
        <div class="shrinknav-panel panelgroup-panel">

        </div>
    </li>
</ul>
