.springanimationdemo {
    margin-bottom: 20px;

    &-controls {
        display: flex;
    }

    &-stage {
        background: #f2f2f2;
        border-radius: 500px;
    }
}


.springanimationdemo-element {
    width: 50px;
    height: 50px;
    border-radius: 500px;
    background: indianred;
    transition: background 100ms;

    &.is-spring-animated {
        background: coral;
    }
}
