<div class="springanimationdemo js-rb-live" data-module="springanimationdemo">
    <ul class="springanimationdemo-controls">
        <li>
            <label>
                <input type="checkbox"/> Autostart
            </label>
        </li>
        <li>
            <label>
                Stiffness
                <input type="range"/>
            </label>
        </li>
        <li>
            <label>
                Damping
                <input type="range"/>
            </label>
        </li>
    </ul>
    <div class="springanimationdemo-element"></div>
</div>
