---
title: SpringAnimation
layout: docs_tpl.hbs
---

<article class="rb-docs">

    <div class="js-rb-live" data-module="springanimationdemogroup">
        hello its me

        <ul>
            <li>
                <button type="button">Start/Stop</button>
            </li>
            <li>
                <label>
                    <input type="checkbox"/> Autostart
                </label>
            </li>
        </ul>

        <hr/>
        {{> springanimationdemo}}
        <hr/>
        {{> springanimationdemo}}
        <hr/>
        {{> springanimationdemo}}
        <hr/>
        {{> springanimationdemo}}
        <hr/>
        {{> springanimationdemo}}
        <hr/>
        {{> springanimationdemo}}
    </div>

    <button type="button">+</button>
    <button type="button">-</button>

</article><!-- end rb-docs -->
