.rb-accordion {

	$accordionJSCFG: (
		watchCss: false,
		multiple: false,
		adjustScroll: 10,
		animation: 'slide',
	);

	@include rb-js-export($accordionJSCFG);

	.accordion-btn {
		display: block;
	}

	.accordion-panel {
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		transition: opacity 400ms, visibility 400ms;

		&.is-open {
			visibility: visible;
			overflow: visible;
			height: auto;
			opacity: 1;
		}
	}
}

@media (max-width: 500px) {
	.rb-accordion {
		@include rb-js-export((
			switchedOff: true
		));

		.accordion-panel {
			visibility: visible;
			overflow: visible;
			height: auto;
			opacity: 1;
		}
	}
}
