/*
 * Component: Panel
**********************************************************/


// Variables
//**********************************************************


// JS-Config
//**********************************************************
$panelJSCFG: (
    name: panel,
    animation: "slide"
);


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/utils/rb_arrow_icon";

//----------------------------------------------------------

.rb-panel {
    @include rb-js-export($panelJSCFG);
    display: block;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 400ms, visibility 400ms;

    &.is-open {
        visibility: inherit;
        overflow: visible;
        height: auto;
        opacity: 1;
    }
}
