/*
 * Component: Range
**********************************************************/

// Variables
//**********************************************************
$range-rail-size: 20px;
$range-thumb-height: 32px;
$range-thumb-width: 30px;

// JS Config
//**********************************************************
$rangeJSCFG: (
	watchCss: false,
	animate: true,
	axis: 'auto', // 'auto' || 'vertical' || 'horizontal' ('auto' does not work, if we are in a display none wrapper and also adds some perf penalty)
	//either use inputs or values, step, max, min
	inputs: 'find(input)', // false || 'find(input)' || white space separated ids or
	values: 50,
	step: 1, //'any' or number
	max: 100,
	min: 0,
);

// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/rb_arrow_icon";

//----------------------------------------------------------
.rb-range {
	background: #00aaff;

	input {
		display: none;
	}

	//Range horizontal
	&:not(.is-vertical)  {
		height: $range-rail-size;
	}

	//Range vertical
	&.is-vertical {
		width: $range-rail-size;
		height: 20rem;
	}
}

.range-rail {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		padding-left: $range-thumb-width / 2;
		padding-right: $range-thumb-width / 2;
	}

	//Range vertical
	.rb-range.is-vertical & {
		padding-top: $range-thumb-height / 2;
		padding-bottom: $range-thumb-height / 2;
	}
}

.range-track {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.range-progress {
	display: inline-block;
	position: absolute;
	box-sizing: content-box;
	background: #004b80;

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		height: 100%;
		padding-left: $range-thumb-width / 2;
	}

	//Range vertical
	.rb-range.is-vertical & {
		width: 100%;
		padding-top: $range-thumb-height / 2;
	}
}

.range-thumb {
	position: absolute;
	border: 1px solid #c4c4c4;
	height: #{$range-thumb-height};
	width: #{$range-thumb-width};
	cursor: pointer;
	outline: none;
	background: #fff;

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		top: -($range-thumb-height - $range-rail-size) / 2;
		left: 0;
		margin-left: -($range-thumb-width / 2);
	}

	.rb-range:not(.is-vertical).is-animate & {
		transition: 300ms left;
	}

	//Range vertical
	.rb-range.is-vertical & {
		bottom: 0;
		left: -($range-thumb-height - $range-rail-size) / 2;
		margin-bottom: $range-thumb-width / -2;
	}
}

.range-tooltip {

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		display: block;
		position: absolute;
		top: -40px;
		min-width: 10rem;
		left: calc(-5rem + #{$range-thumb-width} / 2);
		text-align: center;
		visibility: hidden;
		z-index: 3;
	}

	.rb-range:not(.is-vertical).is-animate & {
		transition: 300ms width;
	}
}

.range-tooltip-value {

	//Range horizontal
	.rb-range:not(.is-vertical).is-active &  {
		box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
		padding: 10px;
		visibility: visible;
		background: #fff;

		&::before {
			content: attr(data-value);
		}
	}
}

.range-progress-min {

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		left: 0;
		margin-left: -($range-thumb-width / 2);
	}

	//Range vertical
	.rb-range.is-vertical & {
		bottom: 0;
		margin-bottom: -($range-thumb-height / 2);
	}
}

.range-progress-max {

	//Range horizontal
	.rb-range:not(.is-vertical) &  {
		right: 0;
		margin-right: -($range-thumb-width / 2);
	}

	//Range vertical
	.rb-range.is-vertical & {
		top: 0;
		margin-top: -($range-thumb-width / 2);
	}
}

.range-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-conten: center;

	input {
		width: 100%;
	}
}