---
component: rb_range
---

<div class="rb-range js-rb-life" data-module="range"></div>

<button type="button" class="js-rb-life" data-module="button" data-target="next()" data-type="stepUp">stepUp</button>


<div class="rb-range js-rb-life" data-module="range">
	{{#each inputs}}
		<input type="number" value="{{this.value}}" min="{{min}}" max="{{max}}" />
	{{/each}}
</div>

<hr />





<div class="range-wrapper">
	<div class="is-size-20">
		<!--<label for="bar">Label for Bar</label>-->
		<input type="number" value="6" min="0" id="foo" title="Test title" />
	</div>
	<div class="rb-range is-size-60 js-rb-life is-range-horizontal" data-module="range" data-inputs="foo bar"></div>
	<div class="is-size-20">
		<!--<label for="bar">Test label</label>-->
		<input type="number" value="30" max="70" id="bar" />
	</div>
</div>



<hr />

<div class="rb-range js-rb-life is-range-vertical" data-module="range" data-labels='["Test label 1", "Test label 2"]'
     data-values="[10, 90]">
</div>

