---
title: Range
layout: default_tpl.hbs
---
<section class="page-section">
    <div class="page-section-inner">

        <div class="use-column-group use-gutters-horizontal">
            <div class="use-size-80">
                <article class="rb-docu">
                    <h1 class="docu-title">{{ title }}</h1>
                    <p class="docu-intro">Range component is used to get a value by dragging a handle.</p>
{{#markdown}}
##Usage
To apply the accordion component add the `rb-range` class and attribute `data-module="range"` to an element.
{{/markdown}}
                    <div class="docu-example is-demo">
                        <h3 class="docu-example-title">Demo</h3>
                        <div>
                            <div class="rb-range js-rb-life" data-module="range"></div>
                        </div>
                    </div>

                    <div class="docu-example">
                        <h3 class="docu-example-title">Markup</h3>
{{#markdown}}
    <div class="rb-range js-rb-life" data-module="range"></div>
{{/markdown}}
                    </div>
                    {{> docu_js_life }}
                    <hr>
                </article><!-- end rb-docu -->
            </div>
        </div>

    </div>
</section>
