// Color-Variables
$color-1a: #fff; //white
$color-1b: #f5f4f2; // off-white

$color-2a: #009bff; //blue
$color-2b: #b3e1ff; //light-blue
$color-2c: #002d59; //dark-blue

$color-3a: #3e3e3e; //dark grey
$color-3b: #dedede; // light grey
$color-3c: #818181; //dark grey
$color-3d: #ccc; //grey

$color-4a: #dc0f6e; //red/pink

$primary-color: #fff;
$secondary-color: #fff;
$success-color: #fff;
$warning-color: #fff;
$danger-color: #fff;


