// Typography-Variables
$base-font: Georgia, "Times New Roman", Times, serif;
$base-fontsize: 100%;
$base-lineheight: 22px;

$font-sans-serif: Helvetica, Arial, Sans-Serif;
$font-serif: Georgia, "Times New Roman", Times, serif;
$blockquote-font: Georgia, "Times New Roman", Times, serif;
$monospaced-font: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
