$label-font: 600 18px/24px sans-serif !default;

$label-color: #000 !default;
$label-margin: 0 0 5px !default;
$label-invalid-color: red !default;

$labelgroup-font: 600 20px/24px sans-serif !default;
$labelgroup-color: #000 !default;
$labelgroup-margin: 0 0 20px !default;
$labelgroup-invalid-color: red !default;

@mixin form-field-and-label($block: false) {

	label {
		position: relative;
		cursor: pointer;
		margin: $label-margin;
		font: $label-font;
		color: $label-color;

		@if $block {
			display: block;
			width: 100%;
		}
	}

	.form-group-label {
		display: block;
		width: 100%;
		margin: $labelgroup-margin;
		font: $labelgroup-font;
		color: $labelgroup-color;
	}

	.is-invalid {

		label,
		.group-label {
			color: $label-invalid-color;
		}

	}

}
