---
title: Layout
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group use-gutters-horizontal" style="height: 800px;">
            <div class="use-size-25">
                <div style="background: #888; height: 400px; width: 100%;"></div>
            </div>
            <div class="use-size-25">
                <div style="background: #888; height: 400px; width: 100%;"></div>
            </div>
        </div>
    </div>
</section>

<div class="use-column-group">
    <div class="use-size-50">

    </div>
</div>
