---
title: Layout
layout: default_tpl.hbs
---

<section class="page-section">
    <div class="page-section-inner">
        <div class="u-column-group u-gutters" style="height: 800px;">
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">1</div>
            </div>
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">2</div>
            </div>
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">1</div>
            </div>
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">2</div>
            </div>
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">1</div>
            </div>
            <div class="u-size-25">
                <div style="background: #888; height: 400px; width: 100%;">2</div>
            </div>
        </div>
    </div>
</section>
