---
title: Core
layout: default_tpl.hbs
---
<div class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group use-gutters-horizontal">
            <div class="use-size-80">
                <div class="rb-docs">
                    <h1 class="docs-title">{{ title }}</h1>
                    <p class="docs-intro">
                        RawBlock provides a layout system that is responsive, fluid and uses a human readable syntax.
                        This is archieved with the use of utility classes. These classes only provide one functionality and are recognizable by the prefix `.use-*` for example `.use-size-50` or `.use-gutters`.
                    </p>
                </div> <!-- end rb-docs -->
            </div>
        </div>
    </div>
</div>