---
title: Core
layout: docs_tpl.hbs
---

<div class="rb-docs">
    <h1>{{ title }}</h1>
    <p class="docs-intro">
        In core everything in RawBlock's is a component, but to obtain greater clarity we differentiate three different areas: layout utilities, components and JavaScript framework.
    </p>
    <div class="u-column-group u-gutters">
        <div class="u-size-50">
            <h2>Layout utilities</h2>
            <p>Layout consists of several utitilty classes which form the foundation layer to layout your pages. For example these classes are applied to create a responsive fluid grid system or layout elements of your component. </p>
        </div>
        <div class="u-size-50">
            <h2>Components</h2>
            <p>Components are the building blocks of RawBlock.</p>
        </div>
        <div class="u-size-50">
            <h2>JavaScript Framework</h2>
            <p>All JavaScript component are build on top of RawBlocks JavaScript framework. </p>
        </div>
    </div>
</div> <!-- end rb-docs -->
