---
title: Core
layout: default_tpl.hbs
---
<div class="page-section">
    <div class="page-section-inner">
        <div class="use-column-group use-gutters-horizontal">
            <div class="use-size-80">
                <div class="rb-docs">
                    <h1 class="docs-title">{{ title }}</h1>
                    <p class="docs-intro">
                        RawBlock's modular architecture is seperatad in three parts: utility classes, components and a JavaScript framework. This seperation ensures that user interfaces build with RawBlock are highly adjustable, reusable and easy to maitain.
                    </p>
                </div> <!-- end rb-docs -->
            </div>
        </div>
    </div>
</div>