<div class="docu-info">
{{#markdown}}
In RawBlock a JS component is registered with the `data-module` attribute and the name as its value, for example `data-module="componentName"`.

Usually you should add the `js-rb-life` class to the component, to make sure it is initialize when its  to the document.

If the component element has the class `js-click` instead it will be initialized on first click.
{{/markdown}}
</div>