/*
 * Component: Dialog
**********************************************************/


// Variables
//**********************************************************


// JS Config
//**********************************************************
$dialog-js-cfg: (
    name: dialog,
    closeOnEsc: true,
    closeOnBackdropClick: false,
    open: true,
);



//----------------------------------------------------------


.rb-dialog {
    //@include rb-js-export($dialog-js-cfg);
    @include rb-fx-zoomOutSmall;
    display: none;
    position: relative;
    max-width: 680px;
    margin: auto;
    outline: none;
    background: #fff;

    @media (max-width: 620px), (max-height: 320px) {
        width: 100%;
        max-width: none;
        min-height: 100%;
        margin: 0;

        @at-root {
            .dialog-backdrop-document {
                align-items: stretch;
            }
        }
    }
}

.dialog-close {
}

//body styles
.is-open-dialog-within,
.is-open-dialog-within > body {
    overflow: hidden;
}
.dialog-backdrop {
    @include rb-fx-fadeOut();
    visibility: hidden;
    overflow: auto;
    position: fixed;
    z-index: $zindex-dialog;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 400ms visibility;

    .rb-dialog {
        display: block;
    }

    &.is-open {
        @include rb-fx-fadeIn();
        display: block;
        visibility: inherit;

        .rb-dialog {
            @include rb-fx-zoomInSmall;
            visibility: inherit;
        }
    }
}

.dialog-backdrop-document {
    align-items: center;
    display: flex;
    height: 100%;
    min-height: 100%;
}
