/*********************************************************

rb-popover
----------------------------------------------------------

**********************************************************/
$popoverJSCFG: ();
$popover-margin: 10px;
$popover-bg-color: #111;
$popover-arrow-size: 10px;

.rb-popover {
    position: absolute;
    width: 200px;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    transition: 400ms opacity, 400ms visibility;

    @at-root {
        .popover-content {
            position: relative;
            z-index: 2;
            padding: 10px;
            background: #{$popover-bg-color};
        }
    }

    &::after {
        content: '';
        position: absolute;
        height: $popover-arrow-size;
        width: $popover-arrow-size;
        background: #{$popover-bg-color};
        transform: rotate(45deg);
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
    }


    &,
    &.is-top,
    &.is-bottom.is-flipped-y {
        margin: 0 0 #{$popover-margin} 0;

        &::after {
            top: auto;
            bottom: -$popover-arrow-size / 2;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    &.is-flipped-y,
    &.is-bottom,
    &.is-top.is-flipped-y {
        margin: #{$popover-margin} 0 0 0;

        &::after {
            top: -$popover-arrow-size / 2;
            bottom: auto;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    &.is-right,
    &.is-left.is-flipped-x {
        margin: 0 0 0 #{$popover-margin};

        &::after {
            top: 0;
            bottom: 0;
            right: auto;
            left: -$popover-arrow-size / 2;
            margin: auto 0;
        }
    }

    &.is-left,
    &.is-right.is-flipped-x {
        margin: 0 #{$popover-margin} 0 0;

        &::after {
            top: 0;
            bottom: 0;
            right: -$popover-arrow-size / 2;
            left: auto;
            margin: auto 0;
        }
    }

    //Popover JS Configs
    &.is-top {
        @include rb-js-export(map_merge($popoverJSCFG, (
            my: 'center bottom',
            at: 'center top'
        )));
    }

    &.is-bottom {
        @include rb-js-export(map_merge($popoverJSCFG, (
            my: 'center top',
            at: 'center bottom'
        )));
    }

    &.is-right {
        @include rb-js-export(map_merge($popoverJSCFG, (
            my: 'left middle',
            at: 'right middle'
        )));
    }

    &.is-left {
        @include rb-js-export(map_merge($popoverJSCFG, (
            my: 'right middle',
            at: 'left middle'
        )));
    }
}

