<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />

<title>{{ title }}</title>

<meta name="description" content="{{ description }}" />
<meta name="keywords" content="" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1" />