<footer class="rb-page-footer">
	<div class="page-footer-inner">
		<div class="is-size-100">
			{{#with rb_sitemap }}
				{{> rb_sitemap }}
			{{/with}}
		</div>
	</div>
	<div class="is-size-100">
		{{#with rb_site_info }}
			{{> rb_site_info }}
		{{/with}}
	</div>
</footer>
