---
title: Index – Project-Overview
layout: default_tpl.hbs
---

<section class="rb-page-section">
	<div class="page-section-inner is-col-group is-gutter">
		<div class="is-size-50">
			{{> rb_test_teaser }}
		</div>
		<div class="is-size-50 is-unequal-height">
			{{> rb_test_teaser }}
			<a href="#">Hello</a>
		</div>

	</div>
</section>


<section class="rb-page-section">
	<div class="page-section-inner is-col-group is-gutter">
		<div class="is-size-50">
			<div class="is-col-group is-gutter">
				<div class="is-size-50 is-unequal-height">
					{{> rb_test_teaser }}
				</div>
				<div class="is-size-50 is-unequal-height">
					{{> rb_test_teaser }}
				</div>
				<div class="is-size-50 is-unequal-height">
					{{> rb_test_teaser }}
				</div>
				<div class="is-size-50 is-unequal-height">
					{{> rb_test_teaser }}
				</div>
			</div>
		</div>

	</div>
</section>
