---
title: Index – Project-Overview
layout: default-tpl.hbs
---

{{#with rb-dialog }}
	{{> rb-dialog }}
{{/with}}

<section class="rb-page-section">
	<div class="col-group is-gutter">
		<div class="col is-size-50">
			{{> test-teaser }}
		</div>
		<div class="col is-size-50">
			{{> test-teaser }}
		</div>
	</div>
</section>


