/*********************************************************

Main Stylesheet
----------------------------------------------------------

**********************************************************/
// Functions / Mixins
@import "../../src/helpers";

// Variables
@import "./settings/**/*.scss";

// Basic Formatting
@import "normalize.css";
@import "../../src/basics";
@import "./basics/rb_utils_custom";

//
//	Layout classes (.u-*)
// ---------------------
@include rb-generate-layout-utils($breakpoint-config);
@include rb-export-globaljs((
    mqs: $breakpoint-config,
    nameSeparator: $rb-name-separator,
    elementSeparator: $rb-name-separator,
    statePrefix: "is" + $rb-name-separator,
    utilPrefix: "u" + $rb-name-separator,
    //jsPrefix: "js" + $rb-name-separator,
));

// All Components
@import "../../src/components/**/*.scss !../../src/components/**/tests/**/*.scss !../../src/components/**/*.async.scss !../../src/components/**/*.js.scss";
