/*********************************************************

Main Stylesheet
----------------------------------------------------------

**********************************************************/
// Functions / Mixins
@import "helpers/index";

// Variables
@import "settings/**/*.scss";

// Basic Formatting
@import 'normalize.css';
@import "basics/rb_basics";
@import "basics/rb_utils_custom";

//
//	Layout classes (.u-*)
// ---------------------
@include rb-generate-layout-utils($breakpoint-config);
@include rb-export-globaljs((
    mqs: $breakpoint-config,
    nameSeparator: $rb-name-separator,
    elementSeparator: $rb-name-separator,
    statePrefix: "is" + $rb-name-separator,
    utilPrefix: "u" + $rb-name-separator,
    //jsPrefix: "js" + $rb-name-separator,
));

// All Components
@import "../components/**/*.scss !../components/**/tests/**/*.scss !../components/**/*.async.scss !../components/**/*.js.scss";
