/*********************************************************

Main Stylesheet
----------------------------------------------------------

**********************************************************/
// Functions / Mixins
@import "helpers/**/*.scss";

// Variables
@import "variables/**/*.scss";

// Basic Formatting
@import "basics/normalize";
@import "basics/rb_basics";

//Layout Grid
@include rb-activate-animation($animationConfigs);
@include rb-generate-layout-styles($breakpointConfigs);

@include rb-export-globaljs(
		(
			mqs: $breakpointConfigs,
		)
);

// All Components
@import "../components/**/*.scss";


