/*********************************************************
*
*    Layout styles
*
*   
**********************************************************/

.col-group {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: $grid-max-width;
	margin: 0 auto;
}


//Position Component
.is-offset-right {
	margin-left: auto;
}

.is-offset-left {
	margin-right: auto;
}

&.is-highlight-1 {
	background: $color-2a;
}

&.is-highlight-2 {
	background: $color-1b;
}

.is-reversed {
	flex-direction: row-reverse;
}

@include generate-grid($breakpoints);