/*********************************************************
*
*    Global Normalizeß
*
*   
**********************************************************/
html {
	-webkit-text-size-adjust: 100%; //Prevents iOS text size adjust after orientation change, without disabling user zoom
	-ms-text-size-adjust: 100%; //Prevents iOS text size adjust after orientation change, without disabling user zoom

	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;

	box-sizing: border-box;
	height: 100%;
	width: 100%;



}

body {
	width: 100%;
	margin: 0;
	background: $color-1b;

	@include respond-to(xl) {
		background: green;
	}
}

html,
button,
input,
select,
textarea { //Addresses font-family inconsistency between 'textarea' and other form elements.
	font-family: $base-font;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* ---------------------------------------
	TEXT-SELECTION

--------------------------------------- */
::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: $color-2a;
}
::selection {
	color: #fff;
	text-shadow: none;
	background:  $color-2a;
}

a {
	color: $color-2a;
	text-decoration: none;
}

::active {
	text-shadow: none;
}

a:focus {
	outline: 1px dotted $color-2a;
	outline-offset: -1px;
}

.a11y-focus-key,
.a11y-focus {
	outline: none;
}

[tabindex="-1"] {
	&:focus {
		outline: none; //Remove blue focus line
	}
}

/* ---------------------------------------
	HTML 5 ELEMENT

--------------------------------------- */
//Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video { //Corrects inline-block display not defined in IE6/7/8/9 & FF3
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none; //Prevents modern browsers from displaying 'audio' without controls
	height: 0; //Remove excess height in iOS5 devices
}

[hidden] {
	display: none; //Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
}

figure {
	margin: 0;
	padding: 0;
}

/* ---------------------------------------
	TYPO

--------------------------------------- */
b,
strong {
	font-weight: bold;//Addresses style set to 'bolder' in FF3+, S4/5, Chrome
}
dfn {
	font-style: italic; //Addresses styling not present in S5, Chrome
}
mark {
	background: #ff0;//Addresses styling not present in IE6/7/8/9
	color: #000;//Addresses styling not present in IE6/7/8/9
}
pre,
code,
kbd,
samp { //Corrects font family set oddly in IE6, S4/5, Chrome
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre { //Improves readability of pre-formatted text in all browsers
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {

	&:after,
	&:before { // Addresses quote property not supported in S4
		content: '';
		content: none;
	}
}
small {
	font-size: 75%;
}
//Prevents sub and sup affecting line-height in all browsers
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

em,
i{
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
	font-weight: normal;
}

blockquote {
	margin: 0;
}

/* ---------------------------------------
	LISTS

--------------------------------------- */
ul,
ol{
	margin: 0;
	list-style: none;
	list-style-image: none;
	padding: 0;
}

dl,
dt,
dd {
	margin: 0;
}

/* ---------------------------------------
	EMBEDDED CONTENT

--------------------------------------- */
img {
	border: 0; //Removes border when inside 'a' element in IE6/7/8/9, FF3
	-ms-interpolation-mode: bicubic; //Improves image quality when scaled in IE7
}
svg:not(:root) {
	overflow: hidden; //Corrects overflow displayed oddly in IE9
}

img,
video {
	max-width: 100%;
	display: block; //Removes extra space img
}

iframe {
	border: none;
}

/* ---------------------------------------
	FORMS

--------------------------------------- */

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}


button {
	text-align: left;
	border-collapse: collapse;
	border: none;
}

button,
input,
select,
textarea {
	font-size: 100%; //Corrects font size not being inherited in all browsers
	margin: 0; //Addresses margins set differently in IE6/7, FF3+, S5, Chrome
	vertical-align: baseline; //Improves appearance and consistency in all browsers
	*vertical-align: middle; //Improves appearance and consistency in all browsers
}
button,
input {
	line-height: normal; //Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
}

select::-ms-expand {
	display: none; //remove arrow in ie
}

legend {
	border: 0; //Corrects color not being inherited in IE6/7/8/9
	padding: 0;
	white-space: normal; //Corrects text not wrapping in FF3
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer; //Improves usability and consistency of cursor style between image-type 'input' and others
	-webkit-appearance: button; // Corrects inability to style clickable 'input' types in iOS
	*overflow: visible; //Removes inner spacing in IE7 without affecting normal text inputs
}

input[type="hidden"] {
	display: none !important;
}

button[disabled],
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly],
option[disabled],
option[readonly] {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	cursor: not-allowed;
}

input:not([type="range"]),
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	background : none;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; // Removes excess padding in IE8/9
}
input[type="search"] {
	-webkit-appearance: textfield; //Addresses appearance set to searchfield in S5, Chrome
	//box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none; //Removes inner padding and search cancel button in S5, Chrome on OS X
}

input[type="search"]::-ms-clear {
	display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

textarea {
	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; //Improves readability and alignment in all browsers
	resize: vertical;
	max-width: 100%;
}

button::-moz-focus-inner { //Important for ff buttons - dont mix with input::-moz-focus-inner
	border: 0; //Removes inner padding and border in FF3+
	padding: 0;
}
input::-moz-focus-inner { // Important for ff buttons - dont mix with button::-moz-focus-inner
	border: 0; //Removes inner padding and border in FF3+
	padding: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}



/* ---------------------------------------
	TABLE

--------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr,
th,
td {
	padding: 0; //remove 1px padding
}
