//
// rb-forms
//
// @
@import "../../sass/helpers/rb_form_elements";

.rb-form {
	width: 100%;
	font-size: rb-rem-calc(18);

	@at-root .form- {

		&section-legend {
			margin: 0 0 20px;
			font: 600 32px/1 sans-serif;
			color: #333;
		}


		&subsection-legend {
			margin: 0 0 20px;
			font: 600 rb-em-calc(24)/1 sans-serif;
			color: #333;
		}

		&intro {
			margin: rb-rem-calc(0 0 30);
			font-size: rb-rem-calc(18);
			line-height: rb-rem-calc(24);
		}


		&box {
			align-items: flex-end;
		}

		&field {
			position: relative;
			width: 100%;
		}

		&note {
			padding: 10px;
			font-family: sans-serif;
			font-size: rb-rem-calc(12);
			line-height: rb-rem-calc(18);
			font-weight: 700;
			color: #333;
			margin-bottom: rb-rem-calc(20);
		}

		//Validation
		&errorbox {
			display: none;

			.is-invalid & {
				display: block;
			}
		}

		&errormessage {
			margin: 0;
			color: red;
		}

		@include form-label(true);
		@include form-selectbox(true);
		@include form-input-and-textarea(true);
		@include form_input-state-btn(checkbox, true);
		@include form_input-state-btn(radio, true);
	}
}
