---
component: rb_form
---

<form class="rb-form js-rb-live" data-module="validate" action="#">
    <fieldset class="form-section">
        <legend class="form-section-legend">Section 1</legend>
        <p class="form-intro">Some optional section-intro-text</p>

        <fieldset class="form-subsection">
            <legend class="form-subsection-legend">Standard Form Components</legend>
            <p class="form-intro">Some optional subsection-intro-text …</p>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-100">
                    {{#mergeJSON rb_form.inputs 'label: "default input 100", booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-100">
                    {{#mergeJSON rb_form.select 'label: "default select", booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-50">
                    {{#mergeJSON rb_form.inputs 'label: "default input 50"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-50">
                    {{#mergeJSON rb_form.inputs 'label: "default input 50"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-25">
                    {{#mergeJSON rb_form.inputs 'label: "default input 25"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-25">
                    {{#mergeJSON rb_form.inputs 'label: "default input 25"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-50">
                    {{#mergeJSON rb_form.inputs 'label: "default input 50"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.inputs 'label: "default input 33", booleans: ["readonly"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.inputs 'label: "default input 33", booleans: ["duseabled"], attrs:
                    {value: "value text"}'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.inputs 'label: "default input 33"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-20">
                    {{#mergeJSON rb_form.inputs 'label: "default input 20"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-20">
                    {{#mergeJSON rb_form.inputs 'label: "default input 20"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-20">
                    {{#mergeJSON rb_form.inputs 'label: "default input 20"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-20">
                    {{#mergeJSON rb_form.inputs 'label: "default input 20", '}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-20">
                    {{#mergeJSON rb_form.inputs 'label: "default input 20"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>
        </fieldset>

        {{#mergeJSON 'label: "Grouped Inputs", classNames: "js-validation-group"'}}

            {{> rb_grouped_begin}}

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-50">
                    {{#mergeJSON 'label: "Default group input 50",  booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-50">
                    {{#mergeJSON  'label: "Default group input 50",  booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            {{> rb_grouped_end}}

        {{/mergeJSON}}

        {{#mergeJSON 'label: "Grouped Input + Select"'}}

            {{> rb_grouped_begin}}

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-50">
                    {{#mergeJSON 'label: "Default group input 50"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-50">
                    {{#mergeJSON rb_form.select 'label: "default select"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            {{> rb_grouped_end}}

        {{/mergeJSON}}


        {{#mergeJSON 'label: "Checkbox Grouped"'}}

                {{> rb_grouped_begin}}

                <div class="form-row">
                    <div class="form-box">
                        {{#mergeJSON rb_form.checkbox 'label: "Checkbox Grouped 1"'}}
                            {{> rb_input}}
                        {{/mergeJSON}}
                    </div>
                    <div class="form-box">
                        {{#mergeJSON rb_form.checkbox 'label: "Checkbox Grouped 2"'}}
                            {{> rb_input}}
                        {{/mergeJSON}}
                    </div>
                    <div class="form-box">
                        {{#mergeJSON rb_form.checkbox 'label: "Checkbox Grouped 3"'}}
                            {{> rb_input}}
                        {{/mergeJSON}}
                    </div>
                    <div class="form-box">
                        {{#mergeJSON rb_form.checkbox  'label: "Checkbox Grouped 3", attrs: {disabled:""}'}}
                            {{> rb_input}}
                        {{/mergeJSON}}
                    </div>
                </div>

                {{> rb_grouped_end}}

        {{/mergeJSON}}

        {{#mergeJSON 'label: "Checkbox Grouped inline", classNames: "js-validation-group"'}}

            {{> rb_grouped_begin}}

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-auto">
                    {{#mergeJSON rb_form.checkbox  'label: "Checkbox Grouped 1", booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-auto">
                    {{#mergeJSON rb_form.checkbox  'label: "Checkbox Grouped 2", booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-auto">
                    {{#mergeJSON rb_form.checkbox  'label: "Checkbox Grouped 3", booleans: ["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            {{> rb_grouped_end}}

        {{/mergeJSON}}

        <fieldset class="form-subsection">
            <legend class="form-subsection-legend">
                Single Checkbox
            </legend>
            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-100">
                    {{#mergeJSON rb_form.checkbox  'label: "Single Checkbox", booleans:["required"]'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>
        </fieldset>

        {{#mergeJSON 'label: "Radiobuttons Grouped"'}}

            {{> rb_grouped_begin}}

            <div class="form-row">
                <div class="form-box">
                    {{#mergeJSON rb_form.radio  'label: "Radio Grouped 1", name: "radio-1"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped 2", name:"radio-1"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped 3", name:"radio-1"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped 3", name:"radio-1", attrs:
                    {disabled:""}'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            {{> rb_grouped_end}}

        {{/mergeJSON}}



        {{#mergeJSON 'label: "Radiobuttons Grouped inline"'}}

            {{> rb_grouped_begin}}

            <div class="form-row u-column-group u-gutters">
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped inline 1", name:
                    "dummy-radio-grouped-inline"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped inline 2", name:"dummy-radio-grouped-inline"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped inline 3", name:"dummy-radio-grouped-inline"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped inline 3", name:"dummy-radio-grouped-inline"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
                <div class="form-box u-size-33">
                    {{#mergeJSON rb_form.radio 'label: "Radio Grouped inline 4",
                    name:"dummy-radio-grouped-inline"'}}
                        {{> rb_input}}
                    {{/mergeJSON}}
                </div>
            </div>

            {{> rb_grouped_end}}

        {{/mergeJSON}}
    </fieldset>
    <footer class="form-footer">
        <button class="rb-button is-primary">Submit</button>
    </footer>


</form>
