<p>
	<span class="underline">Underline</span>
</p>
<p>
	<span class="strike">Line Through</span>
</p>
<p>
	<strong>Bold</strong>
</p>
<p>
	<em>Italic</em>
</p>
<p>
	<sup>Sub</sup> Dummy text
</p>
<p>
	<sub>Sub</sub> Dummy text
</p>