---
component: rb-logo
---
<div class="rb-dialog rb-js" data-module="dialog" data-open="true">
	<div class="dialog-inner">
		<h1 class="dialog-title">{{ title }}</h1>
		<p>{{content}}</p>
	</div>
	<button type="button" class="dialog-close">Close Dialog</button>
</div>
