---
component: rb-logo
---
<div class="rb-logo">
	<a class="logo-inner" title="Startpage" href="{{ link }}">
		<h1 class="logo-title">{{ title }}</h1>
		<img class="logo-image" src="{{ image.src }}" alt="{{ image.alt }}" />
	</a>
</div>



