@mixin rb-fx-fadeIn($options: ()) {
    $animation-name: fadeIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin rb-fx-fadeOut($options: ()) {
    $animation-name: fadeOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }
    }
}

@mixin rb-fx-fadeInDown($options: ()) {
    $animation-name: fadeInDown;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    opacity: 1;
                    transform: translate3d(0, -100%, 0);
                }

                100% {
                    opacity: 0;
                    transform: none;
                }
            }
        }
    }
}

@mixin rb-fx-fadeOutDown($options: ()) {
    $animation-name: fadeOutDown;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                    transform: translate3d(0, 100%, 0);
                }
            }
        }
    }
}
