@mixin rb-fx-zoomIn($options: ()) {
    $animationName: zoomIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.3, .3, .3);
                }

                50% {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin rb-fx-zoomInSmall($options: ()) {
    $animationName: zoomInSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.8, .8, .8);
                }

                50% {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin rb-fx-zoomOut($options: ()) {
    $animationName: zoomOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                    transform: scale3d(.3, .3, .3);
                }

                to {
                    opacity: 0;
                }
            }
        }
    }
}

@mixin rb-fx-zoomOutSmall($options: ()) {
    $animationName: zoomOutSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                    transform: scale3d(.8, .8, .8);
                }

                to {
                    opacity: 0;
                }
            }
        }
    }
}

@mixin rb-fx-zoomOutDown($options: ()) {
    $animationName: zoomOutDown;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                40% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                to {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
                    transform-origin: center bottom;
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}

@mixin rb-fx-zoomInDown($options: ()) {
    $animationName: zoomInDown;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}

@mixin rb-fx-zoomInLeft($options: ()) {
    $animationName: zoomInLeft;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}

@mixin rb-fx-zoomOutLeft($options: ()) {
    $animationName: zoomOutLeft;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                40% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
                }

                to {
                    opacity: 0;
                    transform: scale(.1) translate3d(-2000px, 0, 0);
                    transform-origin: left center;
                }
            }
        }
    }
}

@mixin rb-fx-zoomOutRight($options: ()) {
    $animationName: zoomOutRight;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                40% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
                }

                to {
                    opacity: 0;
                    transform: scale(.1) translate3d(2000px, 0, 0);
                    transform-origin: right center;
                }
            }
        }
    }
}

@mixin rb-fx-zoomInRight($options: ()) {
    $animationName: zoomInRight;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}

@mixin rb-fx-zoomOutUp($options: ()) {
    $animationName: zoomOutUp;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                40% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                to {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
                    transform-origin: center bottom;
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}

@mixin rb-fx-zoomInUp($options: ()) {
    $animationName: zoomInUp;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
        }
    }
}
