@mixin rb-fx-bounce($options: ()) {
    $animationName: bounce;

    @if not map_get($options, onlyInstall){
        transform-origin: center bottom;
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from, 20%, 53%, 80%, to {
                    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transform: translate3d(0,0,0);
                }

                40%, 43% {
                    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transform: translate3d(0, -30px, 0);
                }

                70% {
                    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transform: translate3d(0, -15px, 0);
                }

                90% {
                    transform: translate3d(0,-4px,0);
                }
            }
        }
    }
}

@mixin rb-fx-flash($options: ()) {
    $animationName: flash;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from, 50%, to {
                    opacity: 1;
                }

                25%, 75% {
                    opacity: 0;
                }
            }
        }
    }
}

@mixin rb-fx-headShake($options: ()) {
    $animationName: headShake;

    @if not map_get($options, onlyInstall){
        animation-timing-function: ease-in-out;
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: translateX(0);
                }

                6.5% {
                    transform: translateX(-6px) rotateY(-9deg);
                }

                18.5% {
                    transform: translateX(5px) rotateY(7deg);
                }

                31.5% {
                    transform: translateX(-3px) rotateY(-5deg);
                }

                43.5% {
                    transform: translateX(2px) rotateY(3deg);
                }

                50% {
                    transform: translateX(0);
                }
            }
        }
    }
}

@mixin rb-fx-jello($options: ()) {
    $animationName: jello;

    @if not map_get($options, onlyInstall){
        transform-origin: center;
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from, 11.1%, to {
                    transform: none;
                }

                22.2% {
                    transform: skewX(-12.5deg) skewY(-12.5deg);
                }

                33.3% {
                    transform: skewX(6.25deg) skewY(6.25deg);
                }

                44.4% {
                    transform: skewX(-3.125deg) skewY(-3.125deg);
                }

                55.5% {
                    transform: skewX(1.5625deg) skewY(1.5625deg);
                }

                66.6% {
                    transform: skewX(-0.78125deg) skewY(-0.78125deg);
                }

                77.7% {
                    transform: skewX(0.390625deg) skewY(0.390625deg);
                }

                88.8% {
                    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
                }
            }
        }
    }
}

@mixin rb-fx-pulse($options: ()) {
    $animationName: pulse;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: scale3d(1, 1, 1);
                }

                50% {
                    transform: scale3d(1.05, 1.05, 1.05);
                }

                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}

@mixin rb-fx-rubberBand($options: ()) {
    $animationName: rubberBand;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: scale3d(1, 1, 1);
                }

                30% {
                    transform: scale3d(1.25, 0.75, 1);
                }

                40% {
                    transform: scale3d(0.75, 1.25, 1);
                }

                50% {
                    transform: scale3d(1.15, 0.85, 1);
                }

                65% {
                    transform: scale3d(.95, 1.05, 1);
                }

                75% {
                    transform: scale3d(1.05, .95, 1);
                }

                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}

@mixin rb-fx-shake($options: ()) {
    $animationName: shake;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from, to {
                    transform: translate3d(0, 0, 0);
                }

                10%, 30%, 50%, 70%, 90% {
                    transform: translate3d(-10px, 0, 0);
                }

                20%, 40%, 60%, 80% {
                    transform: translate3d(10px, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-swing($options: ()) {
    $animationName: swing;

    @if not map_get($options, onlyInstall){
        transform-origin: top center;
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: rotate3d(0, 0, 1, 15deg);
                }

                40% {
                    transform: rotate3d(0, 0, 1, -10deg);
                }

                60% {
                    transform: rotate3d(0, 0, 1, 5deg);
                }

                80% {
                    transform: rotate3d(0, 0, 1, -5deg);
                }

                to {
                    transform: rotate3d(0, 0, 1, 0deg);
                }
            }
        }
    }
}

@mixin rb-fx-tada($options: ()) {
    $animationName: tada;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: scale3d(1, 1, 1);
                }

                10%, 20% {
                    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                }

                30%, 50%, 70%, 90% {
                    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                }

                40%, 60%, 80% {
                    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                }

                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}

@mixin rb-fx-wobble($options: ()) {
    $animationName: wobble;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: none;
                }

                15% {
                    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                }

                30% {
                    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                }

                45% {
                    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                }

                60% {
                    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                }

                75% {
                    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                }

                to {
                    transform: none;
                }
            }
        }
    }
}


