@mixin rb-fx-slideLeftIn($options: ()) {
    $animationName: slideLeftIn;

    @if not map_get($options, onlyInstall){
        @include rb-fx-options($options);
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }
}

@mixin rb-fx-slideLeftOut($options: ()) {
    $animationName: slideLeftOut;

    @if not map_get($options, onlyInstall){
        @include rb-fx-options($options);
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightIn($options: ()) {

    $animationName: slideRightIn;

    @if not map_get($options, onlyInstall){
        @include rb-fx-options($options);
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightOut($options: ()) {

    $animationName: slideRightOut;

    @if not map_get($options, onlyInstall){
        @include rb-fx-options($options);
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: translateX(0);
                }

                100% {
                    tranform: translateX(100%);
                }
            }
        }
    }
}
