@mixin rb-fx-slideLeftIn($options: ()) {
    $animation-name: slideLeftIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(-100%, 0, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideLeftInSmall($options: ()) {
    $animation-name: slideLeftInSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(-80px, 0, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideLeftOut($options: ()) {
    $animation-name: slideLeftOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    visibility: hidden;
                    transform: translate3d(-100%, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideLeftOutSmall($options: ()) {
    $animation-name: slideLeftOutSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    visibility: hidden;
                    transform: translate3d(-80px, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightIn($options: ()) {

    $animation-name: slideRightIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(100%, 0, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightInSmall($options: ()) {

    $animation-name: slideRightInSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(80px, 0, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightOut($options: ()) {

    $animation-name: slideRightOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(100%, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideRightOutSmall($options: ()) {

    $animation-name: slideRightOutSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {

        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(80px, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideTopIn($options: ()) {
    $animation-name: slideTopIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(0, -100%, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideTopInSmall($options: ()) {
    $animation-name: slideTopInSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(0, -80px, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideTopOut($options: ()) {
    $animation-name: slideTopOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(0, -100%, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideTopOutSmall($options: ()) {
    $animation-name: slideTopOutSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(0, -80px, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideBottomIn($options: ()) {
    $animation-name: slideBottomIn;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(0, 100%, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideBottomInSmall($options: ()) {
    $animation-name: slideBottomInSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    visibility: visible;
                    transform: translate3d(0, 80px, 0);
                }

                100% {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideBottomOut($options: ()) {
    $animation-name: slideBottomOut;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(0, 100%, 0);
                }
            }
        }
    }
}

@mixin rb-fx-slideBottomOutSmall($options: ()) {
    $animation-name: slideBottomOutSmall;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        animation-name: rb-fx-#{$animation-name};
    }

    @if not map_get($rb-included-animations, $animation-name) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animation-name}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animation-name} {
                0% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(0, 80px, 0);
                }
            }
        }
    }
}
