@mixin rb-fx-flip($options: ()) {
    $animationName: flip;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        backface-visibility: visible;
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
                    animation-timing-function: ease-out;
                }

                40% {
                    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
                    animation-timing-function: ease-out;
                }

                50% {
                    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
                    animation-timing-function: ease-in;
                }

                80% {
                    transform: perspective(400px) scale3d(.95, .95, .95);
                    animation-timing-function: ease-in;
                }

                100% {
                    transform: perspective(400px);
                    animation-timing-function: ease-in;
                }
            }
        }
    }
}

@mixin rb-fx-flipInX($options: (duration: 800ms)) {
    $animationName: flipInX;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        backface-visibility: visible;
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                0% {
                    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                    animation-timing-function: ease-in;
                    opacity: 0;
                }

                40% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    animation-timing-function: ease-in;
                }

                60% {
                    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                    opacity: 1;
                }

                80% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                }

                100% {
                    transform: perspective(400px);
                }
            }
        }
    }
}

@mixin rb-fx-flipOutX($options: (duration: 800ms)) {
    $animationName: flipOutX;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        backface-visibility: visible;
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: perspective(400px);
                }

                30% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    opacity: 1;
                }

                to {
                    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                    opacity: 0;
                }
            }
        }
    }
}

@mixin rb-fx-flipInY($options: (duration: 800ms)) {
    $animationName: flipInY;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        backface-visibility: visible;
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                    animation-timing-function: ease-in;
                    opacity: 0;
                }

                40% {
                    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                    animation-timing-function: ease-in;
                }

                60% {
                    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                    opacity: 1;
                }

                80% {
                    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
                }

                to {
                    transform: perspective(400px);
                }
            }
        }
    }
}

@mixin rb-fx-flipOutY($options: (duration: 800ms)) {
    $animationName: flipOutY;

    @if not map_get($options, onlyInstall){
        @if not map_get($options, onlyName){
            @include rb-fx-options($options);
        }
        backface-visibility: visible;
        animation-name: rb-fx-#{$animationName};
    }

    @if not map_get($rb-included-animations, $animationName) {
        $rb-included-animations: map-merge($rb-included-animations, (#{$animationName}: true)) !global;

        //keyframe begin:
        @at-root {
            @keyframes rb-fx-#{$animationName} {
                from {
                    transform: perspective(400px);
                }

                30% {
                    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
                    opacity: 1;
                }

                to {
                    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                    opacity: 0;
                }
            }
        }
    }
}

