/*
 * Component: Siteinfo
**********************************************************/


// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/rb_px_to_units";


//----------------------------------------------------------


.rb-siteinfo {
	width: 100%;
	padding: 20px;
	background: #444;
}

.siteinfo-copyright {
	margin: 0;
	font: 14px/16px $font-sans-serif;
	color: #ccc;
}

.siteinfo-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	list-style: none;
}

.siteinfo-item {
	font: 14px/16px $font-sans-serif;
	color: #ccc;
}

.siteinfo-link {
	display: block;
	padding: 0 10px;
	color: #ccc;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}


