/*********************************************************
*
*    rb-page-wrapper
*
*
**********************************************************/

.rb-page-wrapper {
	//Global Styles
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
 }
