/*********************************************************

b-logo
----------------------------------------------------------
Main logo of the website
**********************************************************/
.rb-logo {
	//Global Style
	position: relative;

	@include respond-to(all) {
		background: black;
	}

	@include respond-to(m) {
		background: green;
	}

	> .logo-inner {
		align-items: center;
		min-height: 55px;
		width: 100%;
		height: 100%;
	}

	.logo-image {
		display: none;
	}

	.logo-title {
		@extend %hide-text;
		height: 100px;
		width: 100px;
		margin: auto;
		background: url(../img/rawblock.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

}