.rb-dialog {
	position: relative;
	background: #fff;
	max-width: 980px;
	margin: 40px auto;
	visibility: hidden;

	.dialog-close {

	}
}

.rb-backdrop {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	z-index: 999;
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: 400ms all;

	&.is-open {
		visibility: visible;
		opacity: 1;

		> .rb-dialog {
			visibility: visible;
		}
	}
}

.has-open-dialog,
.has-open-dialog > body {
	overflow: hidden;
}

@media (max-width: 720px), (max-height: 420px) {
	.rb-dialog {
		margin: 0;
		width: 100%;
		min-height: 100%;
		max-width: none;
	}
}
