@mixin rb-export-globaljs($main-config, $asidebreakpoints: ()) {
    $rbExportMqMap: ();
    $main-breakpoints: map-get($main-config, 'mqs');


    @each $name, $mq in $asidebreakpoints {
        @if (type-of($mq) == string) {
            $rbExportMqMap: map-merge($rbExportMqMap, ($name: $mq));
        } @else if (type-of($mq) == map and map-has-key($mq, 'media')) {
            $rbExportMqMap: map-merge($rbExportMqMap, ($name: map-get($mq, 'media')));
        }
    }


    @each $name, $mqo in $main-breakpoints {
        $mq: '';

        @if (type-of($mqo) == string) {
            $mq: $mqo;
        } @else if (type-of($mqo) == map and map-has-key($mqo, 'media')) {
            $mq: map-get($mqo, 'media');
        }

        @if ($mq != '') {
            $rbExportMqMap: map-merge($rbExportMqMap, ($name: $mq));
            html {
                @include rb-create-mq($until: $mq) {
                    &::after {
                        position: absolute;
                        left: -999px;
                        visibility: hidden;
                        content: "#{$name}";
                    }
                }
            }
        }

    }

    html {
        @include rb-js-export(map-merge($main-config, (mqs: $rbExportMqMap)));
    }
}
