<div>
	<figure class="richtext-mediabox is-floated-left is-size-55">
		<img src="http://lorempixel.com/800/600/" alt="Dummy text" />
		<figcaption>
			This is a figcaption and and thus a description of the image
			<span class="richtext-copyright">Copyright</span>
		</figcaption>
	</figure>
	{{> paragraph-large-richtext }}

	{{> paragraph-richtext }}
</div>
