/*********************************************************

rb-site-info
----------------------------------------------------------

**********************************************************/
.rb-sitemap {
	width: 100%;

	@at-root {
		.sitemap- {

			&inner {
				max-width: 1240px;
				margin: 0 auto;
			}

			&title {

			}

			&title-link {
				display: block;
				padding: 0 0 10px;
				color: #666;
			}

			&item {
				font: 14px/16px $font-sans-serif;
				color: #ccc;
			}

			&link {
				display: block;
				padding: 4px 0;
				color: #ccc;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}