/*
 * Component: Sitemap
**********************************************************/

// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************
@import "../../sass/helpers/rb_px_to_units";

//----------------------------------------------------------
.rb-sitemap {
	width: 100%;
	font-size: 1rem;

	@at-root {
		.sitemap- {

			&inner {
				max-width: 1240px;
				margin: 0 auto;
			}

			&title {

			}

			&title-link {
				display: block;
				padding: rb-em-calc(0 0 10);
				color: #666;
			}

			&item {
				font: rb-em-calc(14)/rb-em-calc(16) $font-sans-serif;
				color: #ccc;
			}

			&link {
				display: block;
				padding: rb-em-calc(4 0);
				color: #ccc;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}