//
// rb_basics
// --------------------
html {
     -webkit-font-smoothing: antialiased;
     -webkit-font-smoothing: subpixel-antialiased;
     box-sizing: border-box;
     height: 100%;
     width: 100%;
}

body {
    width: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

//
//	Text-Selection
// ---------------------
::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #19469d;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #19469d;
}

a {
    color: #19469d;
    text-decoration: none;
}

::active {
    text-shadow: none;
}

a:focus {
    outline: 1px dotted #19469d;
    outline-offset: 5px;
}

//
//	Embedded content
// ---------------------
video {
    max-width: 100%;
    display: block; //Removes extra space img
}

iframe {
    border: none;
}

//
//	List
// ---------------------
ol,
ul,
dl,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

//
//	Typo
// ---------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

//
//	Form
// ---------------------
fieldset {
    position: relative;
    width: 100%;
    padding: 0;
    border: none;
}


//
//	Layout classes (.use-*)
// ---------------------
@include rb-generate-layout-styles($breakpointConfig);

@include rb-export-globaljs(
        (
            mqs: $breakpointConfig,
        )
);